dtd/hbfm.dtd

<?xml version="1.0" encoding="utf-8"?>
<!--

Handelsblatt Fachmedien XML-DTD V1.0

<code>PUBLIC ID -//Handelsblatt Fachmedien//DTD V1.0//DE</code>

<b>Interne Version:</b>
1.19

&#x0013;<b>Die aktuelle Version kann <a href="http://intranet.fachmedien.de/dtd/hbfm.dtd">hier</a> heruntergeladen werden (Rechtsklick > Ziel speichern unter).</b>



<h2>Änderungshistorie</h2>

Version 0.10 (01.08.14): erste Version (SG)&#x0013;
Version 0.81 (12.01.15): Dokumentation an Content Spec 0.62 angepasst; allgemeine Dokumentationsänderungen (AW)&#x0013;
Version 1.00 (15.01.15): Liste der Gericht-Codes <a href="#instcode">instcode</a>/&#x0040;court erweitert (SG)&#x0013;
Version 1.01 (20.01.15): kleinere Doku-Änderungen (AW)&#x0013;
Version 1.02 (22.01.15): kleinere Doku-Änderungen (AW)&#x0013;
Version 1.03 (27.01.15): Liste der Gerichts-Kürzel aktualisiert (<a href="#instcode">instcode</a>/&#x0040;court) (SG)&#x0013;
Version 1.04 (03.03.15): Änderungen (SG):&#x0013;
						<ul>
							<li>neue root-Elemente unterhalb von <a href="#hbfm"><hbfm></a>&#x0013;
							<li>neue Attribute für root-Elemente</li>
							<li>neue Metadatenelemente <a href="#judges">judges</a>/<a href="#judge">judge</a>, <a href="#preinstdocs">preinstdocs</a>, <a href="#citations">citations</a>/<a href="#citation">citation</a>, <a href="#rubriken">rubriken</a>, <a href="#law_refs">law_refs</a>, <a href="#leitsaetze">leitsaetze</a>, <a href="#authors">authors</a></li>
							<li>neue Werte für <a href="#section">section</a>/&#x0040;type</li>
						</ul>
Version 1.05 (16.03.15): neue Werte für section/&#x0040;class: "replik" und "anmerkung"&#x0013;
Version 1.06 (20.03.15): Änderungen (SG):&#x0013;
						<ul>
							<li>&#x0040;sid der root-Elemente ist nun optional</li>
							<li>Neues Element <a href="#instdocnote">instdocnote</a></li>
							<li><a href="#leitsatz"><leitsatz></a>/&#x0040;number entfällt</li>
							<li>Inhaltsmodell von <a href="#authors">authors</a> und <a href="#author">author</a> geändert, Element <name> entfällt</li>
							<li>für <a href="#section">section</a> neue Werte für &#x0040;class hinzugefügt: „streitjahre“ „entscheidung“ „konsequenz“</li>
							<li><<a href="#instcode">instcode</a> &#x0040;behoerde> umbenannt nach <<a href="#instcode">instcode</a> &#x0040;authority></li>
							<li><newPage &#x0040;pageNumber> umbenannt nach <<a href="#newpage">newpage</a> &#x0040;pagenumber></li>
							<li>Elemente maindate, area/code, intermed_page aus <a href="#pages">pages</a> und <a href="#pages_alt">pages_alt</a> entfernt</li>
							<li>alle Link-Elemente entfernt</li>
							<li><<a href="#extfile">extfile</a> &#x0040;type &#x0040;display>DATEINAME</extfile> ersetzt <type> und <origfile></li>
						</ul>
Version 1.07 (14.04.15): inhaltliche Korrekturen (CM)&#x0013;						
						 section/&#x0040;class: Werte für Inhaltsverzeichnis hinzugefügt
Version 1.08 (27.04.15): Änderungen (SG):&#x0013;						
						<ul>
							<li><a href="#instdoc">instdoc</a> darf auch nur aus <a href="#instdocnote">instdocnote</a> bestehen</li>
							<li><a href="#exportblocker">exportblocker</a> darf nun 0, 1 oder mehrmals vorkommen</li>
							<li><a href="#organisation">organisation</a>: Inhaltsmodell auf PCDATA geändert</li>
							<li>Neues Attriibut <i>sidword</i> für alle Root-Elemente</li>
							<li><a href="#biography">biography</a>: nurmehr ein Vorkommen erlaubt</li>
							<li>neue und umbenannte Root-Elemente:</li>
							<ul>
								<li>umbenannt: ah in <a href="#divah">divah</a></li>
								<li>umbenannt: entab in <a href="#divah">entk</a></li>
								<li>umbenannt: entb in <a href="#divah">ent</a></li>
								<li>umbenannt: vab in <a href="#divah">va</a></li>
								<li>neu: <a href="#divsu">divsu</a>, <a href="#divso">divso</a>, <a href="#gh">gh</a></li>
							</ul>
						</ul>
Version 1.09 (29.04.15): Änderungen (SG):&#x0013;						
						<ul>
							<li>Attributwert "type" in "class" umbenannt für Element <a href="#block">block</a></li>
							<li>Attributwert "anmerkung" und "frame" für Attribute class in <a href="#block">block</a> aufgenommen</li>
							<li>Inhaltsmodell von <a href="#coll_title">coll_title</a> geändert</li> 
						</ul>
Version 1.10 (13.05.15): Änderungen (SG):&#x0013;						
						<ul>
							<li>Attribute docid und rawid der Root-Elemente auf implied setzen</li>
							<li>Neue Elemente <a href="#version">version</a> und <a href="#ref">ref</a> hinzugefügt</li>
							<li>Elemente <i>instcode</i> und <i>insttype</i> in <a href="#inst">inst</a> zusammengefasst</li>
						</ul>
Version 1.11 (18.06.15): Änderungen (SG):&#x0013;						
						<ul>
							<li>Keywords können mehrere Ebenen (<a href="#keyword">keyword</a> und eine ID haben</li>
							<li>Attribut <i>lang</i> zur Sprachkennzeichnung für <a href="#p">p</a></li>
						</ul>
Version 1.12 (30.06.15): Änderungen (SG):&#x0013;						
						<ul>
							<li>neue Werte für Attribut class im Inhaltsverzeihnis: toc.inhrubr</li>
							<li>Definition des Attributs id von <a href="#keyword">keyword</a> auf CDATA geändert</li>
						</ul>
Version 1.13 (16.07.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>"BMJV" in Liste der möglichen Werte von inst/&#x0040;code</li>
						</ul>
Version 1.14 (29.07.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>Liste der Gerichts- und Behördenkürzel aktualisiert (inst/&#x0040;code)</li>
						</ul>
Version 1.15 (06.08.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>Wert "other" für andere als in inst/&#x0040;code vorhandene Gerichte/Behörden aufgenommen</li>
							<li>inst/&#x0040;code muss nun angegeben werden</li>
						</ul>
Version 1.16 (04.09.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>Liste der Gerichts- und Behördenkürzel aktualisiert (inst/&#x0040;code)</li>
						</ul>
Version 1.17 (02.11.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>Root-Element <a href="#rez">rez</a> hinzugefügt</li>
						</ul>
Version 1.18 (14.12.15): Änderungen (SG):&#x0013;	
						<ul>
							<li>Root-Elemente <a href="#iv">iv</a> und <a href="#rez">rez</a> hinzugefügt</li>
							<li>neuer Attribut-Wert für "hinweis" für Element <a href="#block">block</a></li>
							<li>neues Inline-Element für URLs <a href="#url">url</a></li>
							<li>Element article_order aus <a href="#pages_alt">pages_alt</a> entfernt</li>
							<li>neues Attribut <i>pagenumber_alt</i> für Element <a href="#newpage">newpage</a></li>
						</ul>
Version 1.19 (22.01.16): Änderungen (SG):&#x0013;	
						<ul>
							<li>neue Elemente <a href="#questionAndAnswer">questionAndAnswer</a>, <a href="#question">question</a>, <a href="#answer">answer</a>. <a href="#questionAndAnswer">questionAndAnswer</a> ist nur innherhalb von <a href="#body">body</a> und <a href="#section">section</a> erlaubg</li>
							<li>neues Element für Marginalien <a href="#sidenote">sidenote</a>
							<li>Liste der Gerichts- und Behördenkürzel aktualisiert (inst/&#x0040;code)</li>
						</ul>


<h2>Aufbau der DTD</h2>

Die hbfm-DTD wurde zur Strukturierung aller Dokumenttypen entwickelt; so unterscheidet sie grundsätzlich nicht zwischen zum Beispiel einem redaktionellen Text und einer Volltext-Entscheidung. Gleichwohl muss der Dokumenttyp jeder Instanz über die passende Auswahl des Kindelements von <a href="#hbfmdoc">hbfmdoc</a> spezifiziert werden.

Das Klammer-Element für alle Dokumenttypen ist <i><a href="#hbfmdoc">hbfmdoc</a></i>:

_img hbfmdoc.png

Unterhalb dieses Elements befinden sich die eigentlichen Dokumenttypen. Darin geschachtelt ist der jeweilige Textkörper (<a href="#body">body</a>) sowie die zugehörigen Metadaten (<a href="#metadata">metadata</a>).

Die in den Metadaten enthaltenen Elemente beschreiben die Eigenschaften einer Datei sowie den Dateikontext. Beispielsweise werden bei redaktionellen Texten Hintergrundinformationen wie Werksausgabe, Werks-ID, Autor der Datei etc. hinterlegt.

<b>Ein Blick auf die Metadaten-Elemente:</b>

_img metadata.png

<b>Die eigentlichen Texte werden im Textkörper-Element <a href="#body">body</a> strukturiert:</b>

_img body.png

Nachfolgend ist dokumentiert, wie die einzelnen Elemente und ihre Attribute zu befüllen und welche Einschränkungen und/oder Regeln zu beachten sind.



<h2>Benutzungshinweis zur HTML-Dokumentation</h2>

Sie navigieren zu den jeweiligen Elementen entweder durch Scrollen, über den Element-Index, die Baum-Darstellung auf der linken Seite oder durch direkten Klick in eine der Baum-Grafiken.&#x0013;
Klicken Sie auf ein Element, so gelangen Sie direkt zum entsprechenden Dokumentationsabschnitt, der ggf. eine kurze Übersicht der Element-Kinder und -Attribute umfasst.

? - Das Element kann max. einmal vorkommen&#x0013;
+ - Das Element muss mind. einmal vorkommen &#x0013;
* - Das Element kann beliebig oft vorkommen&#x0013;
PCDATA - das Element darf nur geparste Zeichendaten, jedoch keine Kindelemente eines anderen Typs enthalten&#x0013;
EMPTY - kein Inhalt
-->

<!--
@title hbfm.dtd
@doctype hbfmdoc PUBLIC "-//Handelsblatt Fachmedien//DTD V1.0//DE" "hbfm.dtd"
@root hbfmdoc
-->

<!ENTITY % block_simple "p | subhead | figure | table | list | rzblock | example | block" >
<!ENTITY % block "(p | subhead | figure | table | list | rzblock | example | block | sidenote | newpage)*" >
<!ENTITY % block_with_questionAndAnswer "(p | subhead | figure | table | list | rzblock | example | block | questionAndAnswer | sidenote | newpage)*" >

<!ENTITY % inline "(#PCDATA | b | i | u | sub | sup | span | br | footnote | newpage | file | ref | url)*" >

<!ENTITY % attrId     " id       ID    #IMPLIED" >
<!ENTITY % attrLang   " lang     (de | en | fr | es) #IMPLIED" >
<!ENTITY % attrNumber " number   CDATA #IMPLIED" >

<!ENTITY % rootAttributes "
		docid    CDATA #IMPLIED
		altdocid CDATA #IMPLIED
		rawid    CDATA #IMPLIED
		extid    CDATA #IMPLIED
		sid      CDATA #IMPLIED
		sidword  CDATA #IMPLIED
" >

<!--Das Element <i>hbfmdoc</i> ist das root-Element für alle Arten von Dokumenten - dabei kann es sich sowohl um redaktionelle Beiträge (z.B. Aufsätze, bearbeitete Entscheidungen oder Nachrichten) handeln als auch um Volltext-Entscheidungen, Verwaltungsanweisungen, Gesetzestexte usw. 
_img hbfmdoc.png
-->
<!ELEMENT hbfmdoc (au | divah | divsu | divso | ed | ent | entk | entv | gh | gk | gtdraft | iv | toc | kk | nbb | nr | rez | sp | va | vadraft | vav) >


<!--Das Element <i>au</i> ist das root-Element für Aufsätze 
_img au.png
-->
<!ELEMENT au   (metadata, body) >

<!--@attr docid unique (pubcode plus rawid); wie bisher, jetzt als Attribut; This is the DocumentID which should be displayed in the SERP and the DocumentView.
<i>docid</i> beinhaltet das Publikationskürzel, das aus dem Objektkürzel und dem Inhalt von <i><id></i> besteht. Der Ziffernanteil muss immer siebenstellig sein; ggf. muss dieser mit führenden Nullen aufgefüllt werden. Bei "DER BETRIEB" z.B.:

%DB0578219%

@attr altdocid unique (alternativer pubcode + rawid) Alternative DocIDs are mainly for searching or linking purposes.
@attr rawid non-unique; Umbenennung der bisherigen <id>, jetzt als Attribut; wird bei Altdatenkonvertierung gezogen aus (in dieser Reihenfolge, ohne führende Nullen): 
	&#x0040;ORIGID, &#x0040;SIRIUS-ID, &#x0040;WEBID, &#x0040;DOKID. Entspricht bei Zeitschrift-Neuproduktion der Word-ID (Sirius-ID bzw. Volltext-ID).
	This is the technical ID of the base-Document from which the delivered document stems from. 
	It is possible that different documents are delivered in the database with identical rawid but different docid. This may happen for instance, when a document is published in DER BETRIEB and in DER KONZERN as well. A search for the docid (with prefix) should deliver only one exact hit. A search for the rawid should result in a list of all documents with this rawid.
@attr extid unique; ID beim externen Content-Lieferanten (z.B. Deubner-Verlag) mit Lieferantenpräfix + Publikationscode 
	(z.B. "Deubner_DRSP_externe DokID")
@attr sid unique; interne ID des Sirius CMS; wird beim Sirius-Import automatisch eingetragen
@attr sidword Sirius-ID des ursprünglichen Word-Dokuments
-->
<!ATTLIST au   %rootAttributes; >



<!--Das Element <i>divah</i> ist das root-Element für Arbeitshilfe 
_img divah.png
-->
<!ELEMENT divah   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST divah   %rootAttributes; >



<!--Das Element <i>divsu</i> ist das root-Element für „Seminarunterlage“ 
_img divsu.png
-->
<!ELEMENT divsu   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST divsu   %rootAttributes; >



<!--Das Element <i>divso</i> ist das root-Element für „Sonstiges“ 
_img divso.png
-->
<!ELEMENT divso   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST divso   %rootAttributes; >


<!--Das Element <i>ed</i> ist das root-Element für Editorial 
_img ed.png
-->
<!ELEMENT ed   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST ed   %rootAttributes; >


<!--Das Element <i>ent</i> ist das root-Element für Entscheidung (bearbeitet) 
_img ent.png
-->
<!ELEMENT ent   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST ent   %rootAttributes; >


<!--Das Element <i>entk</i> ist das root-Element für Entscheidung kommentiert 
_img entk.png
-->
<!ELEMENT entk   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST entk   %rootAttributes; >


<!--Das Element <i>entv</i> ist das root-Element für Entscheidung (Volltext) 
_img entv.png
-->
<!ELEMENT entv   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST entv   %rootAttributes; >


<!--Das Element <i>gh</i> ist das root-Element für „Ganzes Heft“ 
_img gh.png
-->
<!ELEMENT gh   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST gh   %rootAttributes; >


<!--Das Element <i>gk</i> ist das root-Element für Gastkommentar 
_img gk.png
-->
<!ELEMENT gk   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST gk   %rootAttributes; >


<!--Das Element <i>gtdraft</i> ist das root-Element für Gesetzgebung 
_img gtdraft.png
-->
<!ELEMENT gtdraft   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST gtdraft   %rootAttributes; >


<!--Das Element <i>iv</i> ist das root-Element für Interviews
_img iv.png
-->
<!ELEMENT iv   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST iv   %rootAttributes; >


<!--Das Element <i>rez</i> ist das root-Element für Rezensionen
_img rez.png
-->
<!ELEMENT rez   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST rez   %rootAttributes; >


<!--Das Element <i>toc</i> ist das root-Element für Inhaltsverzeichnis
_img toc.png
-->
<!ELEMENT toc   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST toc   %rootAttributes; >


<!--Das Element <i>kk</i> ist das root-Element für Kurz kommentiert
_img kk.png
-->
<!ELEMENT kk   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST kk   %rootAttributes; >


<!--Das Element <i>nbb</i> ist das root-Element für Blog-Beitrag
_img nbb.png
-->
<!ELEMENT nbb   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST nbb   %rootAttributes; >


<!--Das Element <i>nr</i> ist das root-Element für Nachricht
_img nr.png
-->
<!ELEMENT nr   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST nr   %rootAttributes; >


<!--Das Element <i>sp</i> ist das root-Element für Standpunkt
_img sp.png
-->
<!ELEMENT sp   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST sp   %rootAttributes; >


<!--Das Element <i>va</i> ist das root-Element für Verwaltungsanweisung. (bearbeitet)
_img va.png
-->
<!ELEMENT va   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST va   %rootAttributes; >


<!--Das Element <i>vadraft</i> ist das root-Element für Verwaltungsanw. (Entwurf)
_img vadraft.png
-->
<!ELEMENT vadraft   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST vadraft   %rootAttributes; >


<!--Das Element <i>vav</i> ist das root-Element für Verwaltungsanw. (Volltext)
_img vav.png
-->
<!ELEMENT vav   (metadata, body) >

<!-- siehe Dokumentation der Attribute von Element <a href="#au">au</a> -->
<!ATTLIST vav   %rootAttributes; >



<!--Das Element <i>metadata</i> umschließt die Metadaten eines beliebigen Dokumenttyps. 
_img metadata.png
-->
<!ELEMENT metadata (title, subtitle?, coll_title?, 
                    authors?, 
                    summary?, leitsaetze?, keywords?,
                    ressort?, rubriken?,
                    pub,
                    extfile?,
                    law*,
                    (instdoc, preinstdocs?)?,
                    law_refs?,
                    all_doc_type, all_source, all_source,
                    exportblocker*,
                    sgml_root_element?) >

<!--Das Element <i>pub</i> enthält Informationen über das Werk, die Ausgabe des Werks (bei Zeitschriften) und die Seitenspanne des Artikels.
_img pub.png-->
<!ELEMENT pub       (pubtitle, pubabbr, pubyear, pubedition, date, pub_suppl?, pages, pages_alt?, public?, add_target*, version?) >

<!-- Das Element <i>pages</i> enthält u.a. die Start- und Endseitenzahl des Artikels/Beitrags.
_img pages.png-->
<!ELEMENT pages     (start_page, last_page?, article_order) >


<!--Element <i>pages_alt</i>: only used when we have a secondary (alternative) page count, e.g. for "Entscheidungen" in WuW
_img pages_alt.png-->
<!ELEMENT pages_alt (start_page, last_page?, dept) >




<!--Der Titel eines Dokuments wird über das Element <i>title</i> innerhalb der Metadaten <i>metadata</i> angegeben.

%
<metadata>
	<title>...</title>
	
</metadata>
%

Zudem kann über das Element <i>title</i> der Titel eines bestimmten Textbereiches festgelegt werden. Dieser Bereich kann eine <i>section</i> 
sein; <i>title</i> kann aber auch für die Elemente <i>figure</i>, <i>table</i>, <i>example</i>, <i>block</i> und <i>note</i>
vergeben werden.

<i>Beispiel: </i>

%
<section>
	<title>...</title>
	
	<example>
		<title>...</title>
	</example>
</section>
%

_img title.png
-->
<!ELEMENT title      %inline; >


<!--Enthält das Dokument einen Untertitel, so wird dieser über das Element <i>subtitle</i> angegeben. Dieser kommt nur innerhalb der Metadaten eines Dokuments vor und ist nicht mit <i>subhead</i> im Fließtext zu verwechseln. 
_img subtitle.png 
-->
<!ELEMENT subtitle   %inline; >


<!--Das Element <i>authors</i> enthält Angaben zum Autor bzw. zu den Autoren des redaktionellen Textes. Es ist nicht zwingend erforderlich, das Element <i>authors</i> in den Metadaten zu setzen. In <i>authors</i> sind die Elemente <i>author</i> und <i>biography</i> geschachtelt, in deren jeweiligen Kindelementen dann die einzelnen Informationen enthalten sind.

Hat ein Dokument mehrere Autoren, können mehrere <i>author</i>-Elemente in <i>authors</i> gesetzt werden. <i>authors</i> wiederum darf nur einmal in den Metadaten vorkommen. In <i>biography</i> steht die Biografie aller Autoren gemeinsam.

<b>Beispiel:</b>

%
<metadata>
	<authors>
		<author>
			<prefix>Dr.</prefix>
			<firstname>Klaus</firstname>
			<surname>Schmitt</surname>
			<suffix>Steuerberater</suffix>
		</author>
		<author>
			<firstname>Max</firstname>
			<surname>Muster</surname>
		</author>
		<biography>
			<p>....</p>
		</biography>
	</authors>
</metadata>
%

_img authors.png
-->
<!ELEMENT authors ((author | organisation)+, biography?)+ >


<!--Das Element <i>author</i> innerhalb von <i>authors</i> enthält die Elemente <i>prefix</i>, <i>firstname</i>, <i>surname</i> und <i>suffix</i>. In diesen Elementen wird jeweils die entsprechende Information zum Autor des redaktionellen Textes hinterlegt.
Hat ein Text mehrere Autoren, können <i>author</i>-Elemente mehrfach in <i>authors</i> vorkommen.

<b>Beispiel:</b>

%
<metadata>
	<authors>
		<author>
			<prefix>Dr.</prefix>
			<firstname>Beate</firstname>
			<surname>Schmitt</surname>
			<suffix>Steuerberaterin</suffix>
		</author>
	</authors>
</metadata>
%

_img author.png
-->
<!ELEMENT author         (prefix?, firstname?, surname, suffix?) >


<!--Über das Element <i>organisation</i> können Institutionen als Autor genannt werden.
_img organisation.png
-->
<!ELEMENT organisation (#PCDATA) >


<!--Über das Element <i>prefix</i> können vorangestellte Namenszusätze wie Titel (Prof., Dr.) angegeben werden.
_img prefix.png
-->
<!ELEMENT prefix       (#PCDATA) >


<!--Über das Element <i>firstname</i> wird der oder die Vornamen des Autors angegeben.
_img firstname.png
-->
<!ELEMENT firstname    (#PCDATA) >


<!--Über das Element <i>surname</i> wird der Nachname des Autors angegeben. . <i>surname</i> ist innerhalb eines author-Elements verpflichtend.
_img surname.png
-->
<!ELEMENT surname      (#PCDATA) >


<!--Über das Element <i>suffix</i> können nachgesellte Namenszusätze angegeben werden, wie z.B. die Berufsbezeichnung "Steuerberater" oder der Abschluss "M.Sc.".
_img suffix.png
-->
<!ELEMENT suffix       (#PCDATA) >


<!--Das Element <i>biography</i> ist ein Blockelement, das für eine Beschreibung der Biographie des Autors bzw. der Autoren vorgesehen ist. <i>biography</i> kann neben normalen Textabsätzen auch weitere Strukturen wie Beispiele, Listen, Tabellen oder Zwischenüberschriften enthalten.

<b>Beispiel:</b>

%
<metadata>
	<authors>
		<author>
			<prefix>Dr.</prefix>
			<firstname>Beate</firstname>
			<surname>Schmitt</surname>
			<suffix>Steuerberaterin</suffix>
		</author>
		<biography>
			<subhead>Kurzbiographie der Autorin:</subhead>
			<p>...</p>
			<list>...</list>
		</biography>
	</authors>
</metadata>
%

_img biography.png
-->
<!ELEMENT biography    (%block;) >


<!--Das Element <i>date</i> enthält das Datum des Dokuments im yyyy-mm-dd Format.
_img date.png
-->
<!ELEMENT date       (#PCDATA) >


<!--Das Element <i>summary</i> ist ein Blockelement, das eine redaktionelle Zusammenfassung enthält.
_img summary.png
-->
<!ELEMENT summary       (%block;) >


<!--Das Element <i>extfile</i> enthält den vollständigen Dateipfad, falls ein externes Dokument (binary file) referenziert werden soll (*.pdf, *.doc, etc.).
If the <i>extfile</i> display attribute is set to 'false', <i>type</i> needs to be set to 'html' (html will be displayed in the document view then). If the display attribute is set to 'true', <i>type</i> needs to be set to the respective binary document type (e.g. 'pdf'), which will be displayed directly in the document view then (e.g. because there is no html document available). Additionally, in the result page, a PDF icon will be shown.

_img extfile.png
-->
<!ELEMENT extfile  (#PCDATA) >

<!--@attr display Kann true oder false sein: 
true: binary file is to be displayed directly in the document view. 
false: binary document is for download only
@type gibt den Typ der darzustellenden Datei: html, pdf oder andere -->
<!ATTLIST extfile
	type    CDATA #IMPLIED
	display (true | false) "false"
>


<!--Das Element <i>coll_title</i>: collection title (optional for multiple articles published as a "Dossier") 
_img coll_title.png
-->
<!ELEMENT coll_title   %inline; >


<!--Im Element <i>pubtitle</i> wird angegeben, zu welcher Publikation das Dokument gehört, z.B. "Der Betrieb". 
_img pubtitle.png
-->
<!ELEMENT pubtitle   (#PCDATA) >


<!--Im Element <i>pubabbr</i> ist die Abkürzung der Publikation eingetragen, zu der das Dokument gehört; z.B. "DB", "KoR", "WuW" oder "CF". 
_img pubabbr.png
-->
<!ELEMENT pubabbr    (#PCDATA) >


<!--Im Element <i>pubyear</i> wird das Erscheinungsjahr der Publikation vermerkt.
_img pubyear.png
-->
<!ELEMENT pubyear    (#PCDATA) >


<!--Im Element <i>pubedition</i> wird die Ausgabe der Publikation eingetragen.
_img pubedition.png-->
<!ELEMENT pubedition (#PCDATA) >


<!--Falls das Dokument zu einer Beilage gehört, wird im Element <i>pub_suppl</i> die Beilagen-Nummer eingetragen (unique supplement numbers per year).
_img pub_suppl.png-->
<!ELEMENT pub_suppl (#PCDATA) >


<!--Mit dem Element <i>article_order</i> werden die <b>neu beginnenden</b> Artikel auf der jeweiligen Publikationsseite durchgezählt, um deren Reihenfolge z.B. für Inhaltsverzeichnisse rekonstruieren zu können. Ist das Dokument bspw. der zweite <b>neu beginnende</b> Beitrag auf einer Seite, wird hier entsprechend die Ziffer 2 angegeben.
_img article_order.png
-->
<!ELEMENT article_order   (#PCDATA) >


<!--Element <i>start_page</i>: mandatory for Zeitschriften: start page of article
_img start_page.png
-->
<!ELEMENT start_page  (#PCDATA) >


<!--Element <i>last_page</i>: mandatory for Zeitschriften: last page of article
_img last_page.png
-->
<!ELEMENT last_page  (#PCDATA) >


<!--Element <i>dept</i>: in case the secondary page count is divided into different departments, e.g. in WuW: "DE-R"
_img dept.png
-->
<!ELEMENT dept  (#PCDATA) >


<!--Element <i>add_target</i>: alternative research portals (and/or commercial packages) where this document should be contained in the document set. Since research portals are magazine oriented, the publication code (same code as <all_source level=”2”>) is reused, although alternative values may be allowed in the future as well.
The <i>add_target</i> values are only required if <b>individual documents</b> from a publication should be accessible for a certain research portal/commercial module, <b>not the full publication</b>.

_img add_target.png
-->
<!ELEMENT add_target  (#PCDATA) >


<!--Element <i>version</i>: nimmt Nummer der Ergänzungslieferung auf
_img version.png
-->
<!ELEMENT version  (#PCDATA) >



<!--Element <i>public</i>: value 'true' for subscribed content which becomes free content when this flag is set (The <i>public</i> element should initially not be provided for subscribed content - the value 'false' is not handled by the research portal.)
_img public.png
-->
<!ELEMENT public  EMPTY >
<!ATTLIST public
	value (true | false) "false"
>


<!--Das Element <i>keywords</i> umschließt alle dem Dokument zugewiesenen Schlagwörter (im Einzelelement <i>keyword</i>).
_img keywords.png
-->
<!ELEMENT keywords   (keyword)+ >


<!--Das Element <i>keyword</i> beinhaltet redaktionelles Schlagwort, das Unterschlagwörter haben kann.
_img keyword.png-->
<!ELEMENT keyword      (#PCDATA | keyword)* >
<!ATTLIST keyword
	id CDATA #IMPLIED
>



<!--Das Element <i>law</i> umschließt die Informationen zu dem entsprechenden Gesetzestext. 
_img law.png
-->
<!ELEMENT law (lawname, lawabbr, lawyear, artnum) >



<!--Das Element <i>lawname</i> beinhaltet den vollen Namen der jeweiligen Norm (z.B. "Abgabenordnung").
_img lawname.png 
-->
<!ELEMENT lawname      (#PCDATA) >


<!--Das Element <i>lawabbr</i> gibt die Abbkürzung der jeweiligen Norm an (z.B. "AO").
_img lawabbr.png 
-->
<!ELEMENT lawabbr      (#PCDATA) >


<!--Element <i>lawyear</i>: Regulations often have the same name, although they are updated by the Behörde on a yearly basis. With this feature we are able to search by year nonetheless, in order to obtain the correct regulation. (If the lawname already contains a year, which will rarely be the case, this should be part of <i>lawname</i> and <i>lawabbr</i>.)
_img lawyear.png 
-->
<!ELEMENT lawyear      (#PCDATA) >


<!--Im Element <i>artnum</i> wird die Paragraphennummer angegeben.
_img artnum.png 
-->
<!ELEMENT artnum       (#PCDATA) >


<!--Element <i>instdoc</i>: institutional document (for Rechtsprechung, Verwaltungsanweisungen and other institutional documents)
_img instdoc.png 
-->
<!ELEMENT instdoc (instdocnote | (inst, 
                   instdoctype?, 
                   instdocdate?, 
                   instdocnrs?, 
                   instdocaddnr?,
                   instdocnote?,
                   judges?,
                   citations?)) >

<!--Element <i>preinstdocs</i>: Container für ein oder mehrere <a href="#instdoc">instdoc</a>
_img preinstdocs.png 
-->
<!ELEMENT preinstdocs (instdoc+) >


<!--Element <i>inst</i>: mandatory for Rechtsprechung and Verwaltungsanweisung: name of the institution (e.g. of the court or the Behörde) 

Hier steht der volle Name der Behörde/des Gerichts. Der Kurzname wird das Attribut <i>code</i> geschrieben.

_img inst.png 
-->
<!ELEMENT inst    (#PCDATA) >


<!--@attr type mandatory for Rechtsprechung and Verwaltungsanweisung: respective values 'court' or 'authority'; extendable value list for other institutions (Je nachdem, ob es sich bei <i>instcode</i> um eine Gerichtsinstanz oder eine Behörde handelt, wird hier "court" oder "authority" eingetragen.)
@attr code Das Attribut <i>code</i> des Element <i>instcode</i> enthält den normalisierten Kurznamen des Gerichts oder der Behörde (verpflichtend für Rechtsprechungs-Dokumente und Verwaltungsanweisungen).
-->
<!ATTLIST inst
	type (court | authority | unknown) #REQUIRED
	code (
		other
		| EuGH
		| EuG
		| EGMR
		| EFTAGH
		| BVerfG
		| GmSOGB
		| BAG
		| BFH
		| BGH
		| BPatG
		| BSG
		| BVerwG
		| BayVerfGH
		| HbGVerfG
		| SaechsVerfGH
		| VerfGHSachsenAnhalt
		| VerfGHThueringen
		| FGBadenWuerttemberg
		| FGBerlinBrandenburg
		| FGBremen
		| FGDuesseldorf
		| FGHamburg
		| FGHessen
		| FGKoeln
		| FGMecklenburgVorpommern
		| FGMuenchen
		| FGMuenster
		| FGNiedersachsen
		| FGNuernberg
		| FGRheinlandPfalz
		| FGSaarland
		| FGSachsenAnhalt
		| FGSachsen
		| FGSchleswigHolstein
		| FGThueringen
		| BayObLG
		| OLGBamberg
		| KGBerlin
		| OLGBrandenburg
		| OLGBraunschweig
		| OLGBremen
		| OLGCelle
		| OLGDresden
		| OLGDuesseldorf
		| OLGFrankfurtMain
		| OLGHamburg
		| OLGHamm
		| OLGThueringen	
		| OLGKarlsruhe
		| OLGKoblenz
		| OLGKoeln
		| OLGMuenchen
		| OLGNaumburg
		| OLGNuernberg
		| OLGOldenburg
		| OLGRostock
		| OLGSaarbruecken
		| OLGSchleswig
		| OLGStuttgart
		| OLGZweibruecken
		| LAGBadenWuerttemberg
		| LAGBerlinBrandenburg
		| LAGBremen
		| LAGDuesseldorf
		| LAGHamburg
		| LAGHamm
		| LAGHessen
		| LAGKoeln
		| LAGMecklenburgVorpommern
		| LAGMuenchen
		| LAGNuernberg
		| LAGNiedersachsen
		| LAGRheinlandPfalz
		| LAGSaarland
		| LAGSachsen
		| LAGSachsenAnhalt
		| LAGSchleswigHolstein
		| LAGThueringen
		| OVGBadenWuerttemberg
		| BayVGH
		| OVGBerlinBrandenburg
		| OVGBremen
		| OVGHamburg
		| OVGHessen
		| OVGMecklenburgVorpommern
		| OVGNiedersachsen
		| OVGNordrheinWestfalen
		| OVGRheinlandPfalz
		| OVGSaarland
		| OVGSachsen
		| OVGSachsenAnhalt
		| OVGSchleswigHolstein
		| OVGThueringen
		| LSGBadenWuerttemberg
		| LSGBayern
		| LSGBerlinBrandenburg
		| LSGNiedersachsenBremen
		| LSGHamburg
		| LSGHessen
		| LSGMecklenburgVorpommern
		| LSGNordrheinWestfalen
		| LSGRheinlandPfalz
		| LSGSaarland
		| LSGSachsen
		| LSGSachsenAnhalt
		| LSGSchleswigHolstein
		| LSGThueringen
		| LGBadenBaden
		| LGFreiburg
		| LGHeidelberg
		| LGKarlsruhe
		| LGKonstanz
		| LGMannheim
		| LGMosbach
		| LGOffenburg
		| LGWaldshutTiengen
		| LGEllwangenJagst
		| LGHechingen
		| LGHeilbronn
		| LGRavensburg
		| LGRottweil
		| LGStuttgart
		| LGTuebingen
		| LGUlm
		| LGAschaffenburg
		| LGBamberg
		| LGBautzen
		| LGBayreuth
		| LGCoburg
		| LGHofSaale
		| LGSchweinfurt
		| LGWuerzburg
		| LGAugsburg
		| LGDeggendorf
		| LGIngolstadt
		| LGKempten
		| LGLandshut
		| LGMemmingen
		| LGMuenchenI
		| LGMuenchenII
		| LGPassau
		| LGTraunstein
		| LGAmberg
		| LGAnsbach
		| LGNuernbergFuerth
		| LGRegensburg
		| LGWeidenOberpfalz
		| LGBerlin
		| LGCottbus
		| LGFrankfurtOder
		| LGNeuruppin
		| LGPotsdam
		| LGBremen
		| LGHamburg
		| LGDarmstadt
		| LGFrankfurtMain
		| LGFulda
		| LGGiessen
		| LGHanau
		| LGKassel
		| LGLimburg
		| LGMarburg
		| LGWiesbaden
		| LGNeubrandenburg
		| LGRostock
		| LGSchwerin
		| LGStralsund
		| LGBraunschweig
		| LGGoettingen
		| LGBueckeburg
		| LGHannover
		| LGHildesheim
		| LGStade
		| LGVerden
		| LGAurich
		| LGOldenburg
		| LGOsnabrueck
		| LGDuisburg
		| LGDuesseldorf
		| LGKleve
		| LGKrefeld
		| LGMoenchengladbach
		| LGWuppertal
		| LGArnsberg
		| LGBielefeld
		| LGBochum
		| LGDetmold
		| LGDortmund
		| LGEssen
		| LGHagen
		| LGMuenster
		| LGPaderborn
		| LGSiegen
		| LGAachen
		| LGBonn
		| LGKoeln
		| LGFrankenthalPfalz
		| LGKaiserslautern
		| LGLandauPfalz
		| LGZweibruecken
		| LGBadKreuznach
		| LGKoblenz
		| LGMainz
		| LGTrier
		| LGSaarbruecken
		| LGChemnitz
		| LGDresden
		| LGGoerlitz
		| LGLeipzig
		| LGZwickau
		| LGDessauRosslau
		| LGHalle
		| LGMagdeburg
		| LGStendal
		| LGFlensburg
		| LGItzehoe
		| LGKiel
		| LGLuebeck
		| LGErfurt
		| LGGera
		| LGMeiningen
		| LGMuehlhausen
		| LGLueneburg
		| SGFreiburg
		| SGHeilbronn
		| SGKarlsruhe
		| SGKonstanz
		| SGMannheim
		| SGReutlingen
		| SGStuttgart
		| SGUlm
		| SGAugsburg
		| SGBayreuth
		| SGLandshut
		| SGMuenchen
		| SGNuernberg
		| SGRegensburg
		| SGWuerzburg
		| SGBerlin
		| SGCottbus
		| SGFrankfurtOder
		| SGNeuruppin
		| SGPotsdam
		| SGAurich
		| SGBraunschweig
		| SGBremen
		| SGHannover
		| SGHildesheim
		| SGLueneburg
		| SGOldenburg
		| SGOsnabrueck
		| SGStade
		| SGDarmstadt
		| SGFrankfurtMain
		| SGFulda
		| SGGiessen
		| SGKassel
		| SGMarburg
		| SGWiesbaden
		| SGNeubrandenburg
		| SGRostock
		| SGSchwerin
		| SGStralsund
		| SGAachen
		| SGDetmold
		| SGDortmund
		| SGDuesseldorf
		| SGDuisburg
		| SGGelsenkirchen
		| SGKoeln
		| SGMuenster
		| SGKoblenz
		| SGMainz
		| SGSpeyer
		| SGTrier
		| SGSaarbruecken
		| SGChemnitz
		| SGDresden
		| SGLeipzig
		| SGDessauRosslau
		| SGHalle
		| SGHamburg
		| SGMagdeburg
		| SGItzehoe
		| SGKiel
		| SGLuebeck
		| SGSchleswig
		| SGAltenburg
		| SGGotha
		| SGMeiningen
		| SGNordhausen
		| SGStendal
		| VGFreiburg
		| VGKarlsruhe
		| VGSigmaringen
		| VGStuttgart
		| VGAnsbach
		| VGAugsburg
		| VGBayreuth
		| VGMuenchen
		| VGRegensburg
		| VGWuerzburg
		| VGBerlin
		| VGCottbus
		| VGFrankfurtOder
		| VGPotsdam
		| VGBremen
		| VGHamburg
		| VGDarmstadt
		| VGDessau
		| VGFrankfurtMain
		| VGGiessen
		| VGKassel
		| VGWiesbaden
		| VGSchwerin
		| VGGreifswald
		| VGBraunschweig
		| VGGoettingen
		| VGHannover
		| VGLueneburg
		| VGOldenburg
		| VGOsnabrueck
		| VGStade
		| VGAachen
		| VGArnsberg
		| VGDuesseldorf
		| VGGelsenkirchen
		| VGKoeln
		| VGMinden
		| VGMuenster
		| VGKoblenz
		| VGMainz
		| VGNeustadtWeinstrasse
		| VGTrier
		| VGSaarland
		| VGChemnitz
		| VGDresden
		| VGLeipzig
		| VGHalle
		| VGMagdeburg
		| VGSchleswigHolstein
		| VGGera
		| VGMeiningen
		| VGWeimar
		| AGAchern
		| AGAnnaberg
		| AGBadenBaden
		| AGBuehl
		| AGGernsbach
		| AGRastatt
		| AGBreisach
		| AGEmmendingen
		| AGEttenheim
		| AGFreiburg
		| AGKenzingen
		| AGLoerrach
		| AGMuellheimBaden
		| AGStaufenBreisgau
		| AGTitiseeNeustadt
		| AGWaldkirch
		| AGHeidelberg
		| AGSinsheim
		| AGWiesloch
		| AGBretten		
		| AGBruchsal
		| AGEttlingen
		| AGKarlsruhe
		| AGKarlsruheDurlach
		| AGMaulbronn
		| AGPforzheim
		| AGPhilippsburg
		| AGDonaueschingen
		| AGKonstanz
		| AGRadolfzell
		| AGSingenHohentwiel
		| AGStockach
		| AGUeberlingen
		| AGVillingenSchwenningen
		| AGMannheim
		| AGSchwetzingen
		| AGWeinheim
		| AGAdelsheim
		| AGBuchenOdenwald
		| AGMosbach
		| AGTauberbischofsheim
		| AGWertheim
		| AGGengenbach
		| AGKehl
		| AGLahr
		| AGOberkirch
		| AGOffenburg
		| AGWolfach
		| AGBadArolsen
		| AGBadSaeckingen
		| AGStBlasien
		| AGSchoenau
		| AGSchopfheim
		| AGWaldshutTiengen
		| AGAalen
		| AGBadMergentheim		
		| AGCrailsheim
		| AGEllwangen
		| AGHeidenheimBrenz
		| AGLangenburg
		| AGNeresheim
		| AGSchwaebischGmuend
		| AGAlbstadt
		| AGBalingen
		| AGHechingen
		| AGSigmaringen
		| AGBesigheim
		| AGBrackenheim
		| AGHeilbronn
		| AGKuenzelsau
		| AGMarbachNeckar
		| AGOehringen
		| AGSchwaebischHall
		| AGVaihingenEnz
		| AGBadSaulgau
		| AGBiberachRiss
		| AGLeutkirchAllgaeu
		| AGRavensburg
		| AGRiedlingen
		| AGTettnang
		| AGWangenAllgaeu
		| AGFreudenstadt
		| AGHorbNeckar
		| AGOberndorfNeckar
		| AGRottweil
		| AGSpaichinen
		| AGTuttlingen
		| AGBacknang
		| AGBoeblingen
		| AGEsslingenNeckar
		| AGKirchheimTeck
		| AGLeonberg
		| AGLudwigsburg
		| AGNuertingen
		| AGSchorndorf
		| AGStuttgart
		| AGStuttgartBadCannstatt
		| AGWaiblingen
		| AGBadUrach
		| AGCalw
		| AGMuensingen
		| AGNagold
		| AGReutlingen
		| AGRottenburgNeckar
		| AGTuebingen
		| AGEhingenDonau
		| AGGeislingenSteige
		| AGGoeppingen
		| AGUlm
		| AGAschaffenburg
		| AGObernburgMain
		| AGBamberg
		| AGForchheim
		| AGHassfurt
		| AGBayreuth
		| AGKulmbach
		| AGCoburg
		| AGKronach
		| AGLichtenfels
		| AGHofSaale
		| AGWunsiedel
		| AGBadNeustadtSaale
		| AGBadKissingen
		| AGSchweinfurt
		| AGGemuendenMain
		| AGKitzingen
		| AGWuerzburg
		| AGAichach
		| AGAugsburg
		| AGDillingenDonau
		| AGLandsbergLech
		| AGNoerdlingen
		| AGDeggendorf
		| AGViechtach
		| AGIngolstadt
		| AGNeuburgDonau
		| AGPfaffenhofenIlm
		| AGKaufbeuren
		| AGKemptenAllgaeu
		| AGLindauBodensee
		| AGSonthofen
		| AGEggenfelden
		| AGErding
		| AGFreising
		| AGLandauIsar
		| AGLandshut
		| AGGuenzburg
		| AGMemmingen
		| AGNeuUlm
		| AGMuenchen
		| AGDachau
		| AGEbersberg
		| AGFuerstenfeldbruck
		| AGGarmischPartenkirchen
		| AGMiesbach
		| AGStarnberg
		| AGWeilheimOberbayern
		| AGWolfratshausen
		| AGFreyung
		| AGPassau
		| AGAltoetting
		| AGLaufen
		| AGMuehldorfInn
		| AGRosenheim
		| AGTraunstein
		| AGAmberg
		| AGSchwandorf
		| AGAnsbach
		| AGWeissenburg
		| AGErlangen
		| AGFuerthOdenwald
		| AGFuerthBayern
		| AGHersbruck
		| AGNeumarktOberpfalz
		| AGNeustadtAisch
		| AGNuernberg
		| AGSchwabach
		| AGCham
		| AGKelheim
		| AGRegensburg
		| AGStraubing
		| AGTirschenreuth
		| AGWeidenOberpfalz
		| AGCharlottenburg
		| AGTiergarten
		| AGKoepenick
		| AGLichtenberg
		| AGMitte
		| AGNeukoelln
		| AGPankowWeissensee
		| AGSchoeneberg
		| AGSpandau
		| AGTempelhofKreuzberg
		| AGWedding
		| AGBadLiebenwerda
		| AGCottbus
		| AGGuben
		| AGKoenigsWusterhausen
		| AGLuebbenSpreewald
		| AGSenftenberg
		| AGBadFreienwaldeOder
		| AGBernauBerlin
		| AGEberswalde
		| AGEisenhuettenstadt
		| AGFrankfurtOder
		| AGFuerstenwaldeSpree
		| AGStrausberg
		| AGNeuruppin
		| AGOranienburg
		| AGPerleberg
		| AGPrenzlau
		| AGSchwedtOder
		| AGZehdenick
		| AGBrandenburgHavel
		| AGLuckenwalde
		| AGNauen
		| AGPotsdam
		| AGRathenow
		| AGZossen
		| AGBremen
		| AGBremenBlumenthal
		| AGBremerhaven
		| AGHamburg
		| AGHamburgAltona
		| AGHamburgBarmbek
		| AGHamburgBergedorf
		| AGHamburgBlankenese
		| AGHamburgHarburg
		| AGHamburgStGeorg
		| AGHamburgWandsbek
		| AGBensheim
		| AGDarmstadt
		| AGButzbach
		| AGDieburg
		| AGGrossGerau
		| AGLampertheim
		| AGLangen
		| AGGeestland
		| AGMichelstadt
		| AGOffenbachMain
		| AGRuesselsheim
		| AGSeligenstadt
		| AGFrankfurtMain
		| AGBadHomburgSaar
		| AGBadHomburg
		| AGKoenigsteinTaunus
		| AGBadHersfeld
		| AGFulda
		| AGHuenfeld
		| AGAlsfeld
		| AGBuedingen
		| AGFriedbergHessen
		| AGGiessen
		| AGGelnhausen
		| AGHanau
		| AGEschwege
		| AGFritzlar
		| AGKassel
		| AGKorbach
		| AGMelsungen
		| AGDillenburg
		| AGLimburgLahn
		| AGWeilburg
		| AGWetzlar
		| AGBiedenkopf
		| AGFrankenbergEder
		| AGKirchhain
		| AGMarburg
		| AGSchwalmstadt
		| AGBadSchwalbach
		| AGRuedesheim
		| AGIdstein
		| AGWiesbaden
		| AGDemmin
		| AGNeubrandenburg
		| AGNeustrelitz
		| AGPasewalk
		| AGUeckermuende
		| AGWarenMueritz
		| AGBadDoberan
		| AGGuestrow
		| AGRostock
		| AGGrevesmuehlen
		| AGHagenow
		| AGLudwigslust
		| AGParchim
		| AGSchwerin
		| AGWismar
		| AGAnklam
		| AGBergenRuegen
		| AGGreifswald
		| AGRibnitzDamgarten
		| AGStralsund
		| AGWolgast
		| AGBadGandersheim
		| AGBraunschweig
		| AGClausthalZellerfeld
		| AGGoslar
		| AGHelmstedt
		| AGSalzgitter
		| AGSeesen
		| AGWolfenbuettel
		| AGWolfsburg
		| AGDuderstadt
		| AGEinbeck
		| AGGoettingen
		| AGHannMuenden
		| AGHerzbergHarz
		| AGNortheim
		| AGOsterodeHarz
		| AGBueckeburg
		| AGRinteln
		| AGStadthagen
		| AGBurgwedel
		| AGHameln
		| AGHannover
		| AGNeustadtRuebenberge
		| AGSpringe
		| AGWennigsenDeister
		| AGAlfeldLeine
		| AGBurgdorf
		| AGElze
		| AGGifhorn
		| AGHildesheim
		| AGHolzminden
		| AGLehrte
		| AGPeine
		| AGCelle
		| AGDannenbergElbe
		| AGLueneburg
		| AGSoltau
		| AGUelzen
		| AGWinsen
		| AGBremervoerde
		| AGBuxtehude
		| AGCuxhaven
		| AGOtterndorf
		| AGStade
		| AGTostedt
		| AGZeven
		| AGAchim
		| AGDiepholz
		| AGNidda
		| AGNienburg
		| AGOsterholzScharmbeck
		| AGRotenburgFulda
		| AGRotenburgWuemme
		| AGStolzenau
		| AGSulingen
		| AGSyke
		| AGVerden
		| AGWalsrode
		| AGAurich
		| AGEmden
		| AGLeer
		| AGNorden
		| AGWittmund
		| AGBrake
		| AGCloppenburg
		| AGDelmenhorst
		| AGJever
		| AGNordenham
		| AGOldenburgNI
		| AGOldenburgSH
		| AGVarel
		| AGVechta
		| AGWesterstede
		| AGWildeshausen
		| AGWilhelmshaven
		| AGBadIburg
		| AGBersenbrueck
		| AGLingen
		| AGMeppen
		| AGNordhorn
		| AGOsnabrueck
		| AGPapenburg
		| AGDinslaken
		| AGDuisburg
		| AGDuisburgHamborn
		| AGDuisburgRuhrort
		| AGMuelheimRuhr
		| AGOberhausen
		| AGWesel
		| AGDuesseldorf
		| AGLangenfeldRheinland
		| AGNeuss
		| AGRatingen
		| AGKleve
		| AGEmmerich
		| AGGeldern
		| AGMoers
		| AGRheinberg
		| AGKempen
		| AGKrefeld
		| AGNettetal
		| AGErkelenz
		| AGGrevenbroich
		| AGMoenchengladbach
		| AGMoenchengladbachRheydt
		| AGViersen
		| AGMettmann
		| AGRemscheid
		| AGSolingen
		| AGVelbert
		| AGWuppertal
		| AGArnsberg
		| AGBrilon
		| AGMarsberg
		| AGMedebach
		| AGMendenSauerland
		| AGMeschede
		| AGSchmallenberg
		| AGSchmalkalden
		| AGSoest
		| AGWarstein
		| AGWerl
		| AGBielefeld
		| AGBuende
		| AGGuetersloh
		| AGHalleWestfalen
		| AGHalleSaalkreis
		| AGHerford
		| AGLuebbecke
		| AGMinden
		| AGBadOeynhausen
		| AGRahden
		| AGRhedaWiedenbrueck
		| AGBochum
		| AGHerne
		| AGRecklinghausen
		| AGHerneWanne
		| AGWitten
		| AGBlomberg
		| AGDetmold
		| AGLemgo
		| AGCastropRauxel
		| AGDortmund
		| AGHamm
		| AGKamen
		| AGLuenen
		| AGUnna
		| AGBottrop
		| AGDorsten
		| AGEssen
		| AGEssenBorbeck
		| AGEssenSteele
		| AGGelsenkirchen
		| AGGelsenkirchenBuer
		| AGGladbeck
		| AGHattingen
		| AGMarl
		| AGAltena
		| AGHagen
		| AGIserlohn
		| AGLuedenscheid
		| AGMeinerzhagen
		| AGPlettenberg
		| AGSchwelm
		| AGWetterRuhr
		| AGAhaus
		| AGAhlen
		| AGSchwerte
		| AGBeckum
		| AGBocholt
		| AGBorken
		| AGBuchen
		| AGCoesfeld
		| AGDuelmen
		| AGGronauWestfalen
		| AGHadamar
		| AGHainichen
		| AGHerborn
		| AGHofgeismar
		| AGIbbenbueren
		| AGLuedinghausen
		| AGMuensterWestfalen
		| AGOschatz
		| AGRheine
		| AGStollberg
		| AGTecklenburg
		| AGWarendorf
		| AGBrakel
		| AGDelbrueck
		| AGHoexter
		| AGHohenschönhausen
		| AGLippstadt
		| AGPaderborn
		| AGWarburg
		| AGBadBerleburg
		| AGLennestadt
		| AGOlpe
		| AGSiegen
		| AGAachen
		| AGDueren
		| AGEschweiler
		| AGGeilenkirchen
		| AGHeinsberg
		| AGJuelich
		| AGMonschau
		| AGSchleiden
		| AGBonn
		| AGEuskirchen
		| AGKoenigswinter
		| AGRheinbach
		| AGSiegburg
		| AGWaldbroel
		| AGBergheim
		| AGBergischGladbach
		| AGBruehl
		| AGGummersbach
		| AGKerpen
		| AGKoeln
		| AGLeverkusen
		| AGWermelskirchen
		| AGWipperfuerth
		| AGBadDuerkheim
		| AGFrankenthalPfalz
		| AGGruenstadt
		| AGLudwigshafenRhein
		| AGNeustadtWeinstrasse
		| AGSpeyer
		| AGKaiserslautern
		| AGKusel
		| AGRockenhausen
		| AGGermersheim
		| AGKandelPfalz
		| AGLandauPfalz
		| AGLandstuhl
		| AGZweibruecken
		| AGPirmasens
		| AGBadKreuznach
		| AGBadSobernheim
		| AGIdarOberstein
		| AGSimmernHunsrueck
		| AGAltenkirchen
		| AGAndernach
		| AGBadNeuenahrAhrweiler
		| AGBetzdorf
		| AGCochem
		| AGDiez
		| AGKoblenz
		| AGLahnstein
		| AGLinzRhein
		| AGMayen
		| AGMontabaur
		| AGNeuwied
		| AGSanktGoar
		| AGSinzig
		| AGWesterburg
		| AGAlzey
		| AGBingenRhein
		| AGMainz
		| AGWorms
		| AGBernkastelKues
		| AGBitburg
		| AGDaun
		| AGHermeskeil
		| AGPruem
		| AGSaarburg
		| AGTrier
		| AGWittlich
		| AGLebach
		| AGMerzig
		| AGNeunkirchen
		| AGOttweiler
		| AGSaarbruecken
		| AGSaarlouis
		| AGStIngbert
		| AGStWendel
		| AGVoelklingen
		| AGAue
		| AGChemnitz
		| AGDoebeln
		| AGFreiberg
		| AGMarienberg
		| AGDippoldiswalde
		| AGDresden
		| AGMeissen
		| AGPirna
		| AGRiesa
		| AGBautzen
		| AGGoerlitz
		| AGHoyerswerda
		| AGKamenz
		| AGWeisswasser
		| AGZittau
		| AGBorna
		| AGEilenburg
		| AGGrimma
		| AGLeipzig
		| AGTorgau
		| AGAuerbach
		| AGHohensteinErnstthal
		| AGPlauen
		| AGZwickau
		| AGBitterfeldWolfen
		| AGDessauRosslau
		| AGKoethen
		| AGWittenberg
		| AGZerbst
		| AGEisleben
		| AGMerseburg
		| AGNaumburg
		| AGSangerhausen
		| AGWeissenfels
		| AGZeitz
		| AGAschersleben
		| AGBernburg
		| AGHalberstadt
		| AGHaldensleben
		| AGMagdeburg
		| AGOschersleben
		| AGQuedlinburg
		| AGSchoenebeck
		| AGWernigerode
		| AGBurg
		| AGGardelegen
		| AGSalzwedel
		| AGSteinfurt
		| AGStendal
		| AGFlensburg
		| AGHusum
		| AGNiebuell
		| AGSchleswig
		| AGElmshorn
		| AGItzehoe
		| AGMeldorf
		| AGPinneberg
		| AGBadSegeberg
		| AGEckernfoerde
		| AGKiel
		| AGNeumuenster
		| AGNorderstedt
		| AGPloen
		| AGRendsburg
		| AGAhrensburg
		| AGEutin
		| AGLuebeck
		| AGRatzeburg
		| AGReinbek
		| AGSchwarzenbek
		| AGApolda
		| AGSaalfeld
		| AGArnstadt
		| AGErfurt
		| AGGotha
		| AGSoemmerda
		| AGWeimar
		| AGAltenburg
		| AGGera
		| AGGreiz
		| AGJena
		| AGPoessneck
		| AGRudolstadt
		| AGStadtroda
		| AGBadSalzungen
		| AGEisenach
		| AGHildburghausen
		| AGIlmenau
		| AGMeiningen
		| AGSonneberg
		| AGSuhl
		| AGHeilbadHeiligenstadt
		| AGMuehlhausenThueringen
		| AGNordhausen
		| AGSondershausen
		| ArbGFreiburg
		| ArbGHeilbronn
		| ArbGKarlsruhe
		| ArbGLoerrach
		| ArbGMannheim
		| ArbGPforzheim
		| ArbGReutlingen
		| ArbGSenfenberg
		| ArbGStuttgart
		| ArbGUlm
		| ArbGAugsburg
		| ArbGKempten
		| ArbGMuenchen
		| ArbGPassau
		| ArbGRegensburg
		| ArbGRosenheim
		| ArbGBamberg
		| ArbGBayreuth
		| ArbGNuernberg
		| ArbGWeidenOberpfalz
		| ArbGWuerzburg
		| ArbGBerlin
		| ArbGBrandenburg
		| ArbGCottbus
		| ArbGEberswalde
		| ArbGFrankfurtOder
		| ArbGNeuruppin
		| ArbGPotsdam
		| ArbGBremen
		| ArbGBremenBremerhaven
		| ArbGHamburg
		| ArbGDarmstadt
		| ArbGWetzlar
		| ArbGMarburg
		| ArbGLimburg
		| ArbGBadHersfeld
		| ArbGFrankfurtMain
		| ArbGFulda
		| ArbGGiessen
		| ArbGHanau
		| ArbGKassel
		| ArbGOffenbachMain
		| ArbGWiesbaden
		| ArbGNeubrandenburg
		| ArbGRostock
		| ArbGSchwerin
		| ArbGStralsund
		| ArbGBraunschweig
		| ArbGCelle
		| ArbGEmden
		| ArbGGoettingen
		| ArbGHameln
		| ArbGHannover
		| ArbGHildesheim
		| ArbGLingen
		| ArbGLueneburg
		| ArbGNienburg
		| ArbGOldenburg
		| ArbGOsnabrueck
		| ArbGStade
		| ArbGVerden
		| ArbGWilhelmshaven
		| ArbGDuisburg
		| ArbGDuesseldorf
		| ArbGEssen
		| ArbGKrefeld
		| ArbGMoenchengladbach
		| ArbGOberhausen
		| ArbGSolingen
		| ArbGWesel
		| ArbGWuppertal
		| ArbGArnsberg
		| ArbGBielefeld
		| ArbGBocholt
		| ArbGBochum
		| ArbGDetmold
		| ArbGDortmund
		| ArbGGelsenkirchen
		| ArbGHagen
		| ArbGHalberstadt
		| ArbGHamm
		| ArbGHerford
		| ArbGHerne
		| ArbGIserlohn
		| ArbGMinden
		| ArbGMuenster
		| ArbGPaderborn
		| ArbGRheine
		| ArbGSiegen
		| ArbGAachen
		| ArbGBonn
		| ArbGKoeln
		| ArbGSiegburg
		| ArbGKaiserslautern
		| ArbGKoblenz
		| ArbGLudwigshafenRhein
		| ArbGMainz
		| ArbGTrier
		| ArbGNeunkirchen
		| ArbGNeustrelitz
		| ArbGSaarbruecken
		| ArbGSaarlouis
		| ArbGBautzen
		| ArbGChemnitz
		| ArbGDresden
		| ArbGLeipzig
		| ArbGZwickau
		| ArbGDessauRosslau
		| ArbGHalle
		| ArbGMagdeburg
		| ArbGStendal
		| ArbGElmshorn
		| ArbGFlensburg
		| ArbGKiel
		| ArbGLuebeck
		| ArbGNeumuenster
		| ArbGEisenach
		| ArbGErfurt
		| ArbGGotha
		| ArbGGera
		| ArbGJena
		| ArbGSuhl
		| ArbGNordhausen
		| AGHBadenWuerttemberg
		| AGHBayern
		| AGHBerlin
		| AGHBrandenburg
		| AGHFrankfurt
		| AGHHamburg
		| AGHHessen
		| AGHMecklenburgVorpommern
		| AGHNiedersachsen
		| AGHNordrheinWestfalen
		| AGHRheinlandPfalz
		| AGHSachsenAnhalt
		| AGHSchleswigHolstein
		| AGHThueringen
		| GStAKarlsruhe
		| GStAHamm
		| GStAKoblenz
		| GStAMuenchen
		| StABerlin
		| StABonn
		| StADuisburg
		| StADuesseldorf
		| StAFrankenthalPfalz
		| StAKoblenz
		| StAKoeln
		| StALandauinderPfalz
		| StALeipzig
		| StAMainz
		| StAMoenchengladbach
		| StAMuenchenI
		| StANuernbergFuerth
		| StAStuttgart
		| StATrier
		| StATuebingen
		| StAWuppertal
		| BezirksGCottbus
		| BezirksGDresden
		| BezirksGErfurt
		| BezirksGFrankfurtOder
		| BezirksGGera
		| BezirksGHalle
		| BezirksGKarlMarxStadt
		| BezirksGChemnitz
		| BezirksGLeipzig
		| BezirksGMagdeburg
		| BezirksGMeiningen
		| BezirksGNeubrandenburg
		| BezirksGPotsdam
		| BezirksGRostock
		| BezirksGSchwerin
		| BezirksGSuhl
		| KreisGAnnaberg
		| KreisGCottbus
		| KreisGDoebeln
		| KreisGDresden
		| KreisGEisenhuettenstadt
		| KreisGErfurt
		| KreisGFrankfurtOder
		| KreisGFreiberg
		| KreisGGrimma
		| KreisGGoerlitz
		| KreisGHalle
		| KreisGHalleStadt
		| KreisGKamenz
		| KreisGKoenigsWusterhausen
		| KreisGLoebau
		| KreisGMagdeburg
		| KreisGNeustrelitz
		| KreisGOschatz
		| KreisGPirna
		| KreisGPotsdamStadt
		| KreisGRostockLand
		| KreisGSchwerinStadt
		| KreisGSömmerda
		| KreisGSuhl
		| KreisGChemnitzStadt
		| KreisGLeipzigStadt
		| KreisGSaalfeld
		| KreisGZerbst
		| DGHBerlin
		| DGHHamm
		| DGHNiedersachsen
		| DGHStuttgart
		| TDiGNord
		| TDiGSüd
		| HandelskammerHamburg
		| ATVfGH
		| NLAGAmsterdam
		| RG

		
		
		| DeutscherBundestag
		| DeutscherBundesrat
		| BMF
		| FinMinDerLaender
		| FinMinDerNeuenBundeslaender
		| FinMinBadenWuerttemberg
		| FinMinBayern
		| FinMinBerlin
		| FinMinBrandenburg
		| FinMinBremen
		| FinMinHamburg
		| FinMinHessen
		| FinMinMecklenburgVorpommern
		| FinMinNiedersachsen
		| FinMinNordrheinWestfalen
		| FinMinRheinlandPfalz
		| FinMinSaarland
		| FinMinSachsenAnhalt
		| FinMinSachsen
		| FinMinSchleswigHolstein
		| FinMinThueringen
		| BKartA
		| LKartBHessen
		| LKartBBayern
		| VergabekammerBund
		| VergabeueberwachungsausschussBund
		| VUEASachsenAnhalt
		| VUEASaarland
		| VUEAHessen
		| VUEANiedersachsen
		| VUEANordrheinWestfalen
		| VUEABrandenburg
		| VUEABayern
		| VKArnsberg
		| VKBerlin
		| VKBrandenburg
		| VKBremen
		| VKHamburg
		| VKMecklenburgVorpommern
		| VKBadenWuerttemberg
		| VKDuesseldorf
		| VKDetmold
		| VKKoeln
		| VKMuenster
		| VKNiedersachsen
		| VKHessen
		| VKRheinlandPfalz
		| VKSchleswigHolstein
		| VKSaarland
		| VKSachsen
		| VKSachsenAnhalt
		| VKSuedbayern
		| VKNordbayern
		| VKThueringen
		| VKWestfalen
		| VKRheinland
		| VOBStelleNiedersachsen
		| VOBStelleSachsenAnhalt
		| OFDRheinland
		| OFDMuenster
		| OFDNRW
		| OFDFrankfurtMain
		| OFDNiedersachsen
		| OFDThueringen
		| OFDChemnitz
		| LSFSachsen
		| OFDKoblenz
		| LfStKoblenz
		| OFDBayern
		| OFDKarlsruhe
		| OFDMagdeburg
		| OFDBerlin
		| OFDBrandenburg
		| OFDBremen
		| OFDHamburg
		| OFDRostock
		| OFDSaarbruecken
		| OFDStuttgart
		| OFDFreiburg
		| OFDKiel
		| OFDKoeln
		| OFDDuesseldorf
		| OFDMuenchen
		| OFDNuernberg
		| OFDErfurt
		| OFDsMuenchenNuernberg
		| OFDsDuesseldorfMuenster
		| OFDsRheinlandMuenster
		| OFDsKarlsruheStuttgart
		| BFDMitte
		| BFDNord
		| BFDSuedost
		| BFDSuedwest
		| BFDWest
		| BfF
		| BZSt
		| BMiB
		| BMI
		| BMJV
		| BMWi
		| EUKommission
		| BNetzA
		| Bundesregierung
		| IFSt
		| Monopolkommission
			) #REQUIRED
>



<!--Element <i>instdoctype</i>: mandatory for Rechtsprechung and Verwaltungsanweisung: values e.g. "Urteil", "Beschluss", "Teilurteil", "Schreiben", "Erlass", "Verfügung"; extendable value list for other institutional document types
_img instdoctype.png
-->
<!ELEMENT instdoctype     (#PCDATA) >


<!--Element <i>instdocdate</i>: mandatory for Rechtsprechung and Verwaltungsanweisung: case decision date (in yyyy-mm-dd format); file date or the like for other documents
_img instdocdate.png
-->
<!ELEMENT instdocdate     (#PCDATA) >


<!--Element <i>instdocnrs</i>: Container für ein oder mehrere <a href="#instdocnr">instdocnr</a>: Aktenzeichenkette: ein Gericht hat mehrere ähnliche Fälle in einer Entscheidung zusammengefasst; alle Aktenzeichen werden dann in der Urteilszeile aufgeführt
_img instdocnrs.png
-->
<!ELEMENT instdocnrs     (instdocnr+) >

<!--Element <i>instdocnr</i>: mandatory for Rechtsprechung and Verwaltungsanweisung: case number; file number or the like for other documents
_img instdocnr.png
-->
<!ELEMENT instdocnr     (#PCDATA) >


<!--Element <i>instdocaddnr</i>: additional Behörden-Dokumentennummer or the like for other documents (im Quell-SGML ist dies die optionale BMF-DOKNR)
_img instdocaddnr.png
-->
<!ELEMENT instdocaddnr     (#PCDATA) >

<!--Element <i>instdocnote</i>: 
_img instdocnote.png
-->
<!ELEMENT instdocnote     (#PCDATA) >



<!--Element <i>judges</i>: Container für ein oder mehrere <a href="#judge">judge</a>
_img judges.png
-->
<!ELEMENT judges     (judge+) >

<!--Element <i>judge</i>: Richter
_img judge.png
-->
<!ELEMENT judge     (#PCDATA) >


<!--Element <i>citations</i>: Container für ein oder mehrere <a href="#citation">citation</a>: Fundstellen, in denen die Entscheidung bisher zitiert wurde (werden regelmäßig upgedated)
_img citations.png
-->
<!ELEMENT citations     (citation+) >

<!--Element <i>citation</i>: Fundstellen, in denen die Entscheidung bisher zitiert wurde (werden regelmäßig upgedated)
_img citation.png
-->
<!ELEMENT citation     (#PCDATA) >


<!--Element <i>law_refs</i>: parent für mehrere <a href="#law_ref">law_ref</a>
_img law_refs.png-->
<!ELEMENT law_refs    (law_ref+) >

<!--Element <i>law_ref</i>: full reference to law article
_img law_ref.png-->
<!ELEMENT law_ref    (#PCDATA) >


<!--Das Element <i>ressort</i> beinhaltet den Code des Ressorts, in dem der Text veröffentlicht wird. Mögliche Codes: BW, SR, WR, AR.
_img ressort.png-->
<!ELEMENT ressort    (#PCDATA) >


<!--Element <i>rubriken</i>: Container-Element für <a href="#rubrik">rubrik</a>
_img rubriken.png-->
<!ELEMENT rubriken    (rubrik+) >

<!--Das Element <i>rubrik</i> beinhaltet eine dem Text zugeordnete inhaltliche Rubrik.
_img rubrik.png-->
<!ELEMENT rubrik    (#PCDATA) >


<!--Element <i>all_doc_type</i>: primary and secondary document type code
_img all_doc_type.png-->
<!ELEMENT all_doc_type  (#PCDATA) >
<!ATTLIST all_doc_type
	level CDATA #REQUIRED
>


<!--Element <i>all_source</i>: primary and secondary document source code
_img all_source.png-->
<!ELEMENT all_source    (#PCDATA) >
<!ATTLIST all_source
	level CDATA #REQUIRED
>


<!--Das Element <i>exportblocker</i> kennzeichnet Dokumente (zunächst haupts. einzelne Nachrichten), die nicht direkt an C-Content ("CC"), sondern erst über WordPress veröffentlicht und dann von dort nach CC syndiziert werden (Sirius-Exportprozess prüft auf Vorhandensein dieses Elements und nimmt das Dok dann nicht in die Exportliste auf).
Die target-Values sind festgelegt (zunächst nur "CC").
_img exportblocker.png -->
<!ELEMENT exportblocker EMPTY >
<!ATTLIST exportblocker
	target (CC) #REQUIRED
>


<!--Das Element <i>sgml_root_element</i> enthält den Namen des Root-Elements und seiner Attribute aus dem in diese DTD konvertierten SGML-Dokument.
_img sgml_root_element.png -->
<!ELEMENT sgml_root_element (#PCDATA) >
<!ATTLIST sgml_root_element
	doctype CDATA #IMPLIED
>




<!-- ============================================================================================================================================
=================================================================================================================================================
= body
=================================================================================================================================================
================================================================================================================================================= -->


<!-- Innerhalb des Body-Elements befindet sich der eigentliche Textkörper. 

Die im Text vorkommenden Gliederungshierarchien werden über das Element <i>section</i> abgebildet. 
Noch bevor eine solche Gliederung erfolgt, kann ein einleitender Text gemäß einer Art Vorspann über die Elemente <i>p</i>, <i>subhead</i>, <i>figure</i>, <i>table</i>,
<i>list</i>, <i>rzblock</i>, <i>example</i>, <i>block</i> dargestellt werden. Eine innerhalb dieses Vorspanntextes beginnende neue Textseite wird durch das Element <i>newpage</i> gekennzeichnet.

<b>Beispiel:</b>

%
<body>
	<subhead>...</subhead>
	<p>...</p>
	<example>...</example>
	
	<section>
		...
	</section>
	
	<section>
		...
	</section>
</body>
%

Nachdem die Textgliederung über <i>section</i> vorgenommen wurde, können die obengenannten Elemente nicht mehr außerhalb von <i>section</i> vorkommen.

Es ist auch zulässig, den Text innerhalb von <i>body</i> nicht durch <i>section</i> zu gliedern, sondern beim Textaufbau ausschließlich die oben
genannten Textelementen zu verwenden. Dies wird nur für kurze Texte ohne ersichtliche inhaltliche Gliederung empfohlen!


<b>Beispiel:</b>

%
<body>
	<subhead>...</subhead>
	<p>...</p>
	<example>...</example>
	<p>...</p>
	<table>...</table>
</body>
%

Über das <i>note</i>-Element, das am Ende des Dokuments verwendet werden kann, können redaktionelle Notizen, wie z.B. Verweise auf andere Inhalte angegeben werden. Dieses Element wird ausschließlich am Fuße des Textes und außerhalb der <i>sections</i> verwendet.

<b>Beispiel:</b>

%
<body>
	<subhead>...</subhead>
	<p>...</p>
	
	<section>
		...
	</section>
	
	<section>
		...
	</section>
	
	<note>
	...
	</note>
</body>
%

_img body.png
-->
<!ELEMENT body (%block_with_questionAndAnswer;, (section, (section | newpage)*)?, (note, newpage?)*) >




<!-- ============================================================================================================================================
=================================================================================================================================================
= block elements
=================================================================================================================================================
================================================================================================================================================= -->

<!--Das Element <i>section</i> gliedert den Text in einzelne hierarchische Abschnitte. Eine Schachtelung von <i>section</i> kann 
beliebig tief erfolgen.

Das optionale Attribut <i>class</i> beschreibt den Inhalt des Abschnitts näher.

_img section.png
-->
<!ELEMENT section (title?, %block_with_questionAndAnswer;, (section, (section | newpage)*)?) >

<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige <i>section</i> vergeben werden, u.a. damit auf diese als
Verweisziel verlinkt werden kann. Diese ID wird in der Regel nicht vom Benutzer vergeben. 
Die Befüllung des Attributes ist nicht zwingend erforderlich.

@attr class Beschreibt den Inhalt des Abschnitts und wird benutzt, um in Urteilen den Sachverhalt und die Gründe zu kennzeichnen:  

% 
	<section class="sachverhalt">
	</section>

	oder

	<section class="gruende">
	</section>
%
	U.a. sind diese Werte möglich:
	
	<dl>
		<dt>tenor</dt>
			<dd>Tenor der Entscheidung</dd>
		<dt>antrag</dt>
			<dd>Antrag der Entscheidung</dd>
		<dt>rkvermerk</dt>
			<dd>Rechtskraftvermerk der Entscheidung</dd>
		<dt>rubrum</dt>
			<dd>Rubrum der Entscheidung</dd>
		<dt>extnote</dt>
			<dd>Externe redaktionelle Anmerkung</dd>
		<dt>sachverhalt</dt>
			<dd>Sachverhalt der Entscheidung</dd>
		<dt>tatbestand</dt>
			<dd>Tatbestand der Entscheidung</dd>
		<dt>gruende</dt>
			<dd>Gründe der Entscheidung</dd>
		<dt>veroeffhinw</dt>
			<dd>Veröffentlichungshinweis</dd>
	</dl>

	@attr number 
		Über das Attribut <i>number</i> kann die Angabe einer Gliederungsnummerierung erfolgen. Die Nummerierung erfolgt
		exakt wie im Attributfeld angegeben; hierzu gibt es keine Vorgabe der Schreibweise. Die Befüllung des Attributs ist freiwillig.
		
<b>Beispiele:</b>

% 
	<section number="II.">
	</section>

	oder

	<section number="3a)">
	</section>
%

-->
<!ATTLIST section
	%attrId;
	class (tenor
	       | antrag
	       | anmerkung
	       | rkvermerk
	       | rubrum
	       | extnote
	       | sachverhalt
	       | tatbestand
	       | gruende
	       | veroeffhinw
	       | replik
	       | entscheidung
	       | konsequenz
	       | streitjahre
	       | toc.inhbw | toc.inhsr | toc.inhwr | toc.inhar | toc.inhmantel | toc.article | toc.inhrubr
	       ) #IMPLIED
	%attrNumber;
>


<!--Im Element <i>note</i> werden redaktionelle Notizen am Ende des Textes strukturiert. Dabei handelt es sich um Anmerkungen des Autors bzw. der Redaktion an den Leser; diese Notizen sind sichtbar. Sie stehen grundsätzlich am Fuße des Textes nach der letzten <i>section</i> bzw. nach dem letzten Textabschnitt. Die Notizen können aus normalen Textabsätzen bestehen, können aber auch semantische Blockelemente wie Beispiele, Tabellen usw. enthalten.

Die Notizen können im Attribut <i>id</i> mit einer ID versehen werden, z.B. wenn auf sie als Verweisziel verlinkt werden soll. 

_img note.png
-->
<!ELEMENT note (title, %block;, (section, (section | newpage)*)?) >
<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige <i>note</i> vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann. Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.-->
<!ATTLIST note
	%attrId;
>


<!--Das Element <i>leitsaetze</i> ist ein Container-Element für einen oder mehrere Elemente <a href="#">leitsatz</a>
_img leitsaetze.png
-->
<!ELEMENT leitsaetze    (leitsatz+) >


<!--Im Element <i>leitsatz</i> ist der vollständige Text des Leitsatzes eines Urteils abgebildet.
_img leitsatz.png
-->
<!ELEMENT leitsatz    (%block;) >



<!--Im Element <i>p</i> stehen die eigentlichen Textabsätze. <i>p</i> kann an vielen Stellen vorkommen, überall wo einzelne Textabsätze erlaubt sind. 
_img p.png
-->
<!ELEMENT p %inline; >


<!-- 
@attr class Hierüber kann die Bedeutung oder die Formatierung des Absatzes genauer festgelegt werden:

%
	<p class="vorspann">
		....
	</p>
%


@attr align Über das Attribut <i>align</i> kann die Ausrichtung des Textes, der innerhalb von <i>p</i> steht, angegeben werden. Möglich sind die Attributwerte <i>left</i>, <i>center</i>, <i>right</i> und <i>justified</i>. Hilfreich können diese Angaben z.B. für Auswertungen von Satzprogrammen sein, gerade innerhalb von Absätzen in Tabellenzellen. Die Befüllung des Attributes ist freiwillig. 

<b>Beispiel für zentriert ausgerichteten Text:</b>

%
	<p align="center">
		....
	</p>
%

	@attr id Im Attribut <i>id</i> kann eine ID-Nummer für den jeweiligen Textabsatz <i>p</i> vergeben werden, damit auf diesen als Verweisziel verlinkt werden kann.
	Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.
-->
<!ATTLIST p
	%attrId;
	%attrLang;
	class CDATA #IMPLIED
	align (left | center | right | justified) #IMPLIED
>


<!--Im Element <subhead> werden Zwischenüberschriften für einzelne Textabschnitte wie Gliederungen, Randzifferabschnitte, Beispiele etc. eingefügt. Sie dienen der redaktionellen Gliederung des Textes und sind über das Attribut <i>id</i> ggf. mit einer ID gekennzeichnet.

<b>Beispiel für eine Zwischenüberschrift in einer Gliederung:</b>

%
<section>
	<subhead id="...">Dies ist eine Zwischenüberschrift</subhead>
	...
</section>
%

_img subhead.png
-->
<!ELEMENT subhead %inline; >
<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige  <i>subhead</i> vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann.
	Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.-->
<!ATTLIST subhead
	%attrId;
>


<!--Über das Element <i>example</i> werden Beispiele im Text strukturiert.

<i>example</i> ist ein Blockelement, auf das durch die Vergabe einer ID im Attribut <i>id</i> verlinkt werden kann. Solche Beispiele kommen innerhalb von Gliederungen, Randziffern, Listen oder anderen Textabschnitten vor und können wiederum selbst Tabellen, Listen, Grafiken u.a. enthalten.

<b>Beispiel:</b>
%
<section>
	<example id="...">
		<list>...</list>
	</example>
	...
</section>
%

_img example.png
-->
<!ELEMENT example (title?, %block;) >
<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für das jeweilige  <i>example</i> vergeben werden, u.a. damit auf dieses als Verweisziel verlinkt werden kann.
	Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.-->
<!ATTLIST example
	%attrId;
>


<!--Über das Element <i>block</i> werden Sonderabsätze wie Zitate o.ä. strukturiert. Die Definition, um welche Art von Sonderabsatz es sich hier handelt, wird über das Attribut <i>type</i> mit den möglichen Werten <i>quote</i>, <i>maxime</i> oder <i>example</i> vorgenommen.

In der Regel stehen diese Sonderabsätze innerhalb von anderen Textabschnitten und können wiederum selbst andere Blockelemente wie Listen, Tabellen u.a. enthalten.

<b>Beispiel für ein Zitat:</b>
%
<section>
	<block type="quote">
		<p>...</p>
	</block>
	...
</section>
%

Zudem dient das Element <i>block</i> als Klammer für mögliche zukünftige Erweiterungen im Bereich der Blockelemente, denkbar z.B. wären Hinweise, Tipps, Formulare o.ä.

_img block.png
-->
<!ELEMENT block   (title?, %block;) >


<!--TO DO Klären: Type="example" überschneidet sich mit dem element example. Der Wert Maxime aus der alten DTD ist in der dortigen Doku nicht erklärt. Dokumentation der Werte example und maxime vorerst weggelassen.

@attr id Im Attribut <i>id</i> kann eine ID-Nummer für das jeweilige  <i>example</i> vergeben werden, u.a. damit auf dieses als Verweisziel verlinkt werden kann.
Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.

@attr type Das Attribut <i>type</i> kann mit den Werten <i>quote</i>, <i>maxime</i> oder <i>example</i> befüllt werden. Das Attribut ist required, eine Befüllung ist erforderlich.
-->
<!ATTLIST block
	%attrId;
	class (quote | maxime | example | frame | anmerkung | hinweis) #REQUIRED
>



<!--Das Element questionAndAnswer bildet ein Frage/Antwort-Paar innerhalb eines Interviews ab. Die Elemente question und answer müssen immer jeweils genau einmal vorhanden sein:

%
<questionAndAnswer>
	<question>
		<p>Text der Frage</p>
	</question>
	<answer>
		<p>Text der Antwort</p>
		<p>Text der Antwort</p>
	</answer>
</questionAndAnswer>
%

_img questionAndAnswer.png
-->
<!ELEMENT questionAndAnswer (question, answer) >

<!-- Beinhaltet den Text der Frage innerhalb eines Frage/Antwort-Paars (questionAndAnswer).

_img question.png
-->
<!ELEMENT question (%block;) >

<!-- Beinhaltet den Text der Antwort innerhalb eines Frage/Antwort-Paars (questionAndAnswer).

_img answer.png
-->
<!ELEMENT answer   (%block;) >



<!--Dieses Element nimmt Marginalien auf:

%
	<sidenote>
		<p>Text der Marginalie</p>
	</sidenote
%

_img sidenote.png
-->
<!ELEMENT sidenote (%block;) >


<!--Über das Element <i>figure</i> werden Grafiken als semantische Einheiten im Text stukturiert. 

Das Element <i>figure</i> muss ein oder mehrere Elemente <i>file</i> enthalten, die die exakten Verweise auf die Dateinamen der Grafik(en) enthalten.

Das Element <i>figure</i> kann mit einem <i>title</i> versehen werden. Weiterhin kann über die Befüllung des Attributes <i>id</i> auf die jeweilige Grafik als Verweisziel verlinkt werden.
Erläuternde Texte zu der oder den Grafiken oder Bildunterschriften können durch in <i>figure</i> enthaltene Elemente <i>p</i>, <i>list</i> oder <i>block</i> strukturiert werden.

<b>Beispiel für eine Grafik mit Titel und erläuterndem Text:</b>

%
<figure>
	<title>...</title>
	<file src="..."/>
	<p>...</p>
</figure>
%

_img figure.png
-->
<!ELEMENT figure (title?, file+, (p | list | block | newpage)*) >


<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige Grafik vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann.
Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributs ist nicht zwingend erforderlich. -->
<!ATTLIST figure
	%attrId;
>


<!--Mithilfe des Empty-Elementes <i>file</i> werden Verweise auf extern vorliegende Dokumente im Text verankert. Dazu wird der Dateiname des Linkziels in das Attribut <i>src</i> eingetragen.

Diese Verweise können an verschiedenen Stellen im Text gesetzt werden, z.B. innerhalb von Blockelementen wie <i>figure</i> oder <i>block</i>, um auf Grafiken oder Formulare zu verweisen.
Möglich sind auch Textstellen wie eine <i>subhead</i>, zum Beispiel um ein Logo zu verankern.

<b>Beispiel für eine Grafik:</b>

%
<figure>
	<file src="..."/>
</figure>
%

_img file.png
-->
<!ELEMENT file EMPTY >


<!--@attr src Im Attribut <i>src</i> wird der Dateiname des externen Linkziels angegeben. Diese Angabe ist zwingend erforderlich.

@attr title nimmt die Bildbezeichnung auf (Bildunter-/Überschrift, falls vorhanden)

@attr height Zielt das Element <i>file</i> auf eine Grafik oder ein Logo, so kann es sinnvoll sein, über das Attribut <i>height</i> die gewünschte Höhe anzugeben, mit der die Grafik ausgegeben werden soll. Korrespondierend dazu sollte auch das Attribut <i>width</i> befüllt werden.

Die Befüllung von <i>height</i> und <i>width</i> ist freiwillig.

@attr width Zielt das Element <i>file</i> auf eine Grafik oder ein Logo, so kann es sinnvoll sein, über das Attribut <i>width</i> die gewünschte Breite anzugeben, mit der die Grafik ausgegeben werden soll. Korrespondierend dazu sollte auch das Attribut <i>height</i> befüllt werden.

Die Befüllung von <i>height</i> und <i>width</i> ist freiwillig.
-->
<!ATTLIST file
	src    CDATA #REQUIRED
	title  CDATA #IMPLIED
	type   CDATA #IMPLIED
	alt    CDATA #IMPLIED
	height CDATA #IMPLIED
	width  CDATA #IMPLIED
>


<!--Über das Element <i>list</i> werden Listen im Text strukturiert.

Zwingend erforderlich sind ein oder mehrere Elemente <i>listitem</i> innerhalb von <i>list</i>, in denen die einzelnen Listenpunkte strukturiert werden. 

Eine Liste kann beliebig tief geschachtelt werden.

Über das Attribut <i>type</i>, dessen Befüllung erforderlich ist, kann die Listenart bzw. das Aufzählungszeichen festgelegt werden.
Der Wert <i>alpha</i> löst eine alphabetische Nummerierung (a, b, c) aus, <i>number</i> eine numerische (1, 2, 3), <i>dash</i> eine Liste mit Gedankenstrichen als Aufzählungszeichen. Der Wert <i>bullet</i> bewirkt eine Liste mit Punkten, <i>roman</i> eine Liste mit römischen Zahlen als Aufzählungszeichen. Über <i>other</i> besteht die Möglichkeit, weitere Listentypen zu definieren.

<b>Beispiel für eine Punktliste mit 3 Listenpunkten und zwei Listenebenen:</b>

%
<list type="bullet">
	<listitem>...</listitem>
	<listitem>...</listitem>
	<listitem>
		<list type="alpha">
			<listitem>...</listitem>
		</list>
	</listitem>
</list>
%

_img list.png
-->
<!ELEMENT list      ((listitem | newpage)+) >
<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige Liste  vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann.
Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich. 

@attr type Über das Attribut <i>type</i>, dessen Befüllung erforderlich ist, kann die Listenart bzw. das Aufzählungszeichen festgelegt werden.
Der Wert <i>alpha</i> löst eine alphabetische Nummerierung (a,b,c) aus, <i>number</i> eine numerische (1, 2, 3), <i>dash</i> eine Liste mit Gedankenstrichen als Aufzählungszeichen. Der Wert <i>bullet</i> bewirkt eine Liste mit Punkten, <i>roman</i> eine Liste mit römischen Zahlen als Aufzählungszeichen. Über <i>other</i> bleibt die Möglichkeit, weitere Listentypen zu definieren.
-->
<!ATTLIST list
	%attrId;
	type (alpha | number | dash | bullet | roman | other) #REQUIRED
	formatting (bold | italic) #IMPLIED
>


<!--Das Element <i>listitem</i> enthält Listenpunkteden Inhalt eines einzelnen Listenpunkts einer Liste. <i>listitem</i> kann daher nur innerhalb von <i>list</i> vorkommen. 

Über das Attribut <i>number</i> kann bei Bedarf eine manuelle Nummerierung der einzelnen Listenpunkte vorgenommen werden.

_img listitem.png
-->
<!ELEMENT listitem      (%block;) >

<!--@attr number Über das Attribut <i>number</i> kann bei Bedarf eine manuelle Nummerierung der einzelnen Listenpunkte vorgenommen werden. Dies kann z.B. erforderlich sein, wenn die Listennummerierung keiner gängigen Logik folgt und nicht durch Automatismen erfolgen kann oder wenn besondere Zeichen verwendet werden sollen. -->

<!ATTLIST listitem
	%attrNumber;
>


<!--Das Element <i>rzblock</i> umschließt den Text, der einer bestimmten Randziffer zugeordnet wird.

Innerhalb von <i>rzblock</i> muss zu Beginn das Element <i>rz</i> exakt einmal vorkommen, über das die Nummerierung/Bezeichnung der Randziffer erfolgt. Weiterhin umklammert <i>rzblock</i> alle weiteren Textinhalte der Randziffer, wie z.B. Zwischenüberschriften, Tabellen, Listen etc.


<b>Beispiel für einen Randzifferblock:</b>

%
<rzblock>
	<rz>...</rz>
	<subhead>...</subhead>
	<p>...</p>
</rzblock>
%

_img rzblock.png
-->
<!ELEMENT rzblock (rz, %block;) >

<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige Randziffer vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann.
Diese ID wird in der Regel nicht vom Benutzer vergeben. Die Befüllung des Attributes ist nicht zwingend erforderlich.  -->
<!ATTLIST rzblock
	%attrId;
>


<!--Das Element <i>rz</i> kommt ausschließlich innerhalb und zu Beginn von <i>rzblock</i> vor. In diesem Element wird die Nummerierung bzw. Bezeichnung der Randziffer festgelegt. Existiert ein Randziffernblock, so muss das Element <i>rz</i> verpflichtend gesetzt werden. 

Zu der Schreibweise der Randziffern gibt es keine Vorgaben, hier ist Freitext möglich.

_img rz.png
-->
<!ELEMENT rz      (#PCDATA) >




<!-- ============================================================================================================================================
=================================================================================================================================================
= inline elements
=================================================================================================================================================
================================================================================================================================================= -->


<!--Über das Element <i>footnote</i> werden die Fußnoten im Text strukturiert. <i>footnote</i> selbst kann verschiedene Textarten enthalten, neben normalen Absätzen auch Zwischenüberschriften, Tabellen u.a., auch wenn diese eher selten in Fußnoten vorkommen.

<b>Beispiel für eine Fußnote:</b>

%
<p>
	<footnote>
		<p>...</p>
	</footnote>
</p>
%

_img footnote.png
-->
<!ELEMENT footnote (%block;) >

<!--@attr id Im Attribut <i>id</i> kann eine ID-Nummer für die jeweilige Fußnote vergeben werden, u.a. damit auf diese als Verweisziel verlinkt werden kann.
Diese ID wird in der Regel nicht vom Benutzer vergeben. Die ID ist nicht eindeutig.   -->
<!ATTLIST footnote
	id     CDATA    #IMPLIED
>


<!--Mit dem Element <i>newpage</i> kann ein Text mit Seitenzahlen versehen werden. Hierbei markiert das empty-Element <i>newpage</i> mitten im Text jeweils den Beginn einer neuen Seite. 

Wird das Element <i>newpage</i> gesetzt, so muss das Attribut <i>pagenumber</i> befüllt werden. Hierüber wird die Seitenzahl der neu beginnenden Seite angegeben, eine Schreibweise ist nicht vorgegeben.

<b>Beispiel für eine <i>newpage</i>:</b>

%
<p>	...
	<newpage pagenumber="..."/>
	...
</p>
%

_img newpage.png
-->
<!ELEMENT newpage EMPTY >


<!--Über <i>pagenumber</i> wird die Seitenzahl der neu beginnenden Seite angegeben, eine Schreibweise ist nicht vorgegeben. Die Angabe von <i>pagenumber</i> innerhalb von <i>newpage</i> ist zwingend erforderlich.-->
<!ATTLIST newpage
	pagenumber     CDATA #REQUIRED
	pagenumber_alt CDATA #IMPLIED
>


<!--Über das Element <i>b</i> können Textstellen gefettet werden; "b" steht für <b>bold</b>. 

<b>Beispiel:</b>

%
<p>Diese Textstelle soll <b>fett</b> erscheinen.
</p>
%

Es wird empfohlen, dass Element <i>b</i> nicht innerhalb von Überschriften oder Zwischenüberschriften zu verwenden, da diese i.d.R. automatisch eine entsprechende Formatierung bei der Ausgabe erhalten. Eine solche Formatierung würde durch eine manuelle Fettung mit <i>b</i> aufgehoben werden.

_img b.png
-->
<!ELEMENT b    %inline; >


<!--Über das Element <i>i</i> können Textstellen kursiv gesetzt werden; "i" steht für <i>italic</i>. 

<b>Beispiel:</b>

%
<p>Diese Textstelle soll <i>kursiv</i> erscheinen.
</p>
% 

_img i.png
-->
<!ELEMENT i    %inline; >


<!--Über das Element <i>u</i> können Textstellen unterstrichen werden; "u" steht für <u>underline</u>. 

<b>Beispiel:</b>

%
<p>Diese Textstelle soll <u>unterstrichen</u> werden.
</p>
%  

_img u.png
-->
<!ELEMENT u    %inline; >


<!--Über das Element <i>sub</i> können Textstellen tiefgestellt werden, z.B. für mathematische oder chemische Formeln. 

<b>Beispiel:</b>

%
<p>H<sub>2</sub>O
</p>
%  

_img sub.png
-->
<!ELEMENT sub  %inline; >


<!--Über das Element <i>sup</i> können Textstellen hochgestellt werden, z.B. für mathematische oder chemische Formeln. 

<b>Beispiel:</b>

%
<p>20m<sup>2</sup>
</p>
%   

_img sup.png
-->
<!ELEMENT sup  %inline; >


<!--Das Element <i>span</i> ist ein Joker-Element, das eingesetzt werden kann, falls es Bedarf an weiteren Inline-Auszeichnungen gibt, die bislang so nicht in der DTD angelegt sind. Setzt man dieses Element, muss über das Attribut <i>type</i> definiert werden, welche zusätzliche Auszeichnung an dieser Stelle erfolgen soll, damit z.B. das Satzprogramm im Folgenden darauf reagieren kann. 
_img span.png
--> 
<!ELEMENT span %inline; >

<!--@attr class Über das Attribut <i>class</i> wird definiert, welche Art von Inline-Auszeichnung erfolgen und wie der Text ausgegeben werden soll. Der eingegebene Wert sollte mit den Ausgabeprogrammen/Satzprogrammen abgestimmt sein.
@attr fontsize Mit dem Attribut <i>fontsize</i> kann die Größe des ausgegebenen Texts verändert werden.
-->
<!ATTLIST span
	class CDATA #IMPLIED
	fontsize CDATA #IMPLIED
>


<!--Element, um Quer- und Kapitelverweise innerhalb von Werken umzusetzen 
_img ref.png
--> 
<!ELEMENT ref %inline; >

<!ATTLIST ref 
	docref CDATA #REQUIRED
	idref  CDATA #IMPLIED
>



<!-- Element, um Internetadressen auszuzeichnen. Die URL wird im Attribut <i>src</i> eingetragen, der dargestellte Text, der von der
URL abweichen kann, bildet den Elementinhalt
_img url.png
--> 
<!ELEMENT url %inline; >

<!ATTLIST url 
	src CDATA #REQUIRED
>



<!--Über das Element <i>br</i> kann ein manueller Zeilenumbruch im Text gesetzt werden. 

Das Setzen von manuellen Zeilenumbrüchen sollte mit Bedacht geschehen. Es ist v.a. innerhalb von Tabellenzellen sinnvoll und zulässig, wo weder eine neue Zeile noch ein neuer Absatz eröffnet werden soll. Das Setzen von <i>br</i> wird dagegen nicht empfohlen, um im Fließtext oder in Überschriften Zeilenumbrüche zu erreichen. Umbrüche sollten außer in Einzelfällen erst bei der späteren Ausgabe erfolgen, z.B. im Satzprogramm.

_img br.png
-->
<!ELEMENT br EMPTY >





<!-- ============================================================================================================================================
=================================================================================================================================================
=
= table
=
=================================================================================================================================================
================================================================================================================================================= -->

<!ENTITY % tableAlign "
	align (left | center | right | justified) #IMPLIED
	valign (top | middle | bottom) #IMPLIED
">

<!ENTITY % tableBackground "
	bgcolor  CDATA #IMPLIED
">

<!ENTITY % tableRulesAndBackground "
	top.rule    (0|1) #IMPLIED
	right.rule  (0|1) #IMPLIED
	bottom.rule (0|1) #IMPLIED
	left.rule   (0|1) #IMPLIED
	%tableBackground;
">
<!--Das Element <i>table</i> umschließt alle zu einer Tabelle gehörenden Strukturen wie den Tabellenkörper, den dazugehörigen Titel, Tabellenkopf und Tabellenfußbereich.
Zu <i>table</i> gehören folgende Attribute und ihre Auswirkungen:

<i>align</i>: Über das Attribut <i>align</i> wird die Textausrichtung innerhalb einer Tabelle angegeben, z.B. rechtsbündig, zentriert, etc.

<i>bgcolor</i>: Soll die Tabelle eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

<i>bottom.rule</i>: Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

<i>frame</i>: Mit dem Attribut <i>frame</i> wird die Lineatur für die Tabellenrandlinien festgelegt. Wird der Wert "void" gesetzt, so erscheint rundherum keine Randlinie. Mit dem Wert "box" hingegen, erreicht man eine Rahmenlinie rund um die Tabelle.
Mit den beiden Werten "above" und "below" wird eine obere bzw. untere Tabellenrahmenlinie festgelegt. Die Werte "hsides" und "vsides" bewirken eine Rahmenlinie auf den horizontalen bzw. vertikalen Seiten. "lhs" steht für "left hand side" und bewirkt eine Linie am linken Tabellenrand, "rhs" - also "right hand side" - dagegen eine Linie am rechten Tabellenrand.

<i>id</i>: Über das Attribut <i>id</i> kann der Tabelle eine eindeutige ID zugewiesen werden, über die die Tabelle als Verweisziel erreichbar ist. Diese ID wird i.d.R. nicht vom Benutzer vergeben.

<i>left.rule</i>: Über das Attribut <i>left.rule</i> kann den Tabellenzellen eine Lineatur auf der linken Zellenseite gegeben werden.

<i>right.rule</i>: Über das Attribut <i>right.rule</i> kann den Tabellenzellen eine Lineatur auf der rechten Zellenseite gegeben werden.

<i>rules</i>: Mit dem Attribut <i>rules</i> wird die innere Lineatur der Tabellenzellen festgelegt (ausgenommen die äußeren Tabellenrandlinien; diese werden über das Attribut <i>frame</i> definiert). Setzt man den Wert "rows", so wird die Lineatur horizontal in den Reihen gesetzt (mit Ausnahme der oberen Seite der obersten Tabellenzelle und der unteren Seite der untersten Tabellenzelle). Setzt man den Wert "cols", so erscheint die Lineatur vertikal entlang der Spaltenseiten (mit Ausnahme der linken Seite der Tabellenspalte am linken Rand und der rechten Seite am rechten Tabellenrand). Mit dem Wert "none" wird erreicht, dass die Zellen keine Lineatur haben, mit "all" dagegen eine vollständige Lineatur in allen Zellen.

<i>top.rule</i>: Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite eine Lineatur.

<i>valign</i>: Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen festgelegt.

_img table.png
-->
<!ELEMENT table (title?, col*, thead?, tbody, tfoot?) >

<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb einer Tabelle angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll die Tabelle eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

@attr frame Mit dem Attribut <i>frame</i> wird die Lineatur für die Tabellenrandlinien festgelegt. Wird der Wert "void" gesetzt, so erscheint rundherum keine Randlinie. Mit dem Wert "box" hingegen erreicht man eine Rahmenlinie rund um die Tabelle.

Mit den beiden Werten "above" und "below" wird eine obere bzw. untere Tabellenrahmenlinie festgelegt. Die Werte "hsides" und "vsides" bewirken eine Rahmenlinie auf den horizontalen bzw. vertikalen Seiten. "lhs" steht für "left hand side" und bewirkt eine Linie am linken Tabellenrand, "rhs" - also "right hand side" - dagegen eine Linie am rechten Tabellenrand.

@attr id Über das Attribut <i>id</i> kann der Tabelle eine eindeutige ID zugewiesen werden, über die die Tabelle als Verweisziel erreichbar ist. Diese ID wird i.d.R. nicht vom Benutzer vergeben.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr rules Mit dem Attribut <i>rules</i> wird die innere Lineatur der Tabellenzellen festgelegt (ausgenommen die äußeren Tabellenrandlinien; diese werden über das Attribut <i>frame</i> definiert). Setzt man den Wert "rows", so wird die Lineatur horizontal in den Reihen gesetzt (mit Ausnahme der oberen Seite der obersten Tabellenzelle und der unteren Seite der untersten Tabellenzelle). Setzt man den Wert "cols", so erscheint die Lineatur vertikal entlang der Spaltenseiten (mit Ausnahme der linken Seite der Tabellenspalte am linken Rand und der rechten Seite am rechten Tabellenrand). Mit dem Wert "none" wird erreicht, dass die Zellen keine Lineatur haben, mit "all" dagegen eine vollständige Lineatur in allen Zellen.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen festgelegt.
-->
<!ATTLIST table
	%attrId;
	%tableAlign;
	frame       (void|above|below|hsides|lhs|rhs|vsides|box|border) #IMPLIED
	rules       (none | rows | cols | all) #IMPLIED
	%tableRulesAndBackground;
>


<!--Das Element <i>col</i> ist ein empty-Element und definiert das Vorkommen und die Anzahl der Tabellenspalten.

_img col.png
-->
<!ELEMENT col EMPTY >

<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb dieser Tabellenspalte angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll die Tabellenspalte eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen dieser Spalte eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen dieser Spalte eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen dieser Spalte eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite in allen Zellen dieser Spalte eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen dieser Spalte festgelegt.

@attr width Über das Attribut <i>width</i> wird eine Spaltenbreite festgelegt. Dieses Attribut ist erforderlich.
-->
<!ATTLIST col
	width CDATA #REQUIRED
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Das Element <i>thead</i> kennzeichnet den Kopf einer Tabelle und enthält im Unterschied zum Tabellentitel eigene Tabellenreihen.
_img thead.png
-->
<!ELEMENT thead (tr | newpage)+ >

<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb des Tabellenkopfes angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll der Tabellenkopf eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen des Tabellenkopfes eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen des Tabellenkopfes eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen des Tabellenkopfes eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite in allen Zellen des Tabellenkopfes eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen des Tabellenkopfes festgelegt.

@attr width Über das Attribut <i>width</i> wird eine Zellenbreite im Tabellenkopf festgelegt. 
-->
<!ATTLIST thead
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Im Element <i>tbody</i> ist der gesamte Tabellenkörper unterhalb des Tabellenkopfes geschachtelt.
_img tbody.png
-->
<!ELEMENT tbody (tr | newpage)+ >


<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb des Tabellenkörpers angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll der Tabellenkörper eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen des Tabellenkörpers eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen des Tabellenkörpers eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen des Tabellenkörpers eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite in allen Zellen des Tabellenkörpers eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen dieses Tabellenbereiches festgelegt.

@attr width Über das Attribut <i>width</i> wird eine Zellenbreite für den ganzen Textkörper festgelegt. 
-->
<!ATTLIST tbody
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Das Element <i>tfoot</i> definiert den Fußbereich einer Tabelle und steht jeweils ganz am Ende nach dem Tabellenkörper.
_img tfoot.png
-->
<!ELEMENT tfoot (tr | newpage)+ >


<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb dieses Tabellenfußbereiches angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll dieser Bereich eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen dieses Bereiches eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen dieses Bereiches eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen dieses Bereiches eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite in allen Zellen dieses Tabellenbereiches eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen dieses Tabellenbereiches festgelegt.

@attr width Über das Attribut <i>width</i> wird eine Zellenbreite festgelegt. 
-->
<!ATTLIST tfoot
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Mit dem Element <i>tr</i> wird eine neue Tabellenreihe angelegt. Sie enthält wiederum die Elemente <i>td</i> (im normalen Textkörper) oder <i>th</i> (im Tabellenhead).
_img tr.png
-->
<!ELEMENT tr (td | th)+ >


<!--@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb dieser Tabellenreihe angegeben, z.B. rechtsbündig, zentriert, etc.

@attr bgcolor Soll die Tabellenreihe eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.

@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen dieser Reihe eine untere Lineatur gegeben werden, d.h. in allen Zellen dieser Reihe wird die untere Seite liniert dargestellt.

@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen dieser Reihe eine Lineatur auf der linken Zellenseite gegeben werden.

@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen dieser Reihe eine Lineatur auf der rechten Zellenseite gegeben werden.

@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite in allen Zellen dieser Reihe eine Lineatur.

@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen dieser Reihe festgelegt.

@attr width Über das Attribut <i>width</i> wird eine Zellenbreite festgelegt. 
-->
<!ATTLIST tr
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Das Element <i>td</i> ist ein Blockelement, das die einzelne Tabellenzelle im Tabellenhead abbildet. In <i>th</i> können dann wiederum normale Textabsätze, Listen, Beispiele etc. enthalten sein. 
_img th.png
-->
<!ELEMENT th %block; >


<!--@attr rowspan Mit dem Attribut <i>rowspan</i> kann eine Zellenüberspannung innerhalb einer Tabellenreihe vorgenommen werden. 
@attr colspan Mit dem Attribut <i>colspan</i> wird eine spaltenweise Zellenüberspannung definiert. 
@attr width Über das Attribut <i>width</i> kann eine Spaltenbreite festgelegt werden.
@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb der Zellen angegeben, z.B. rechtsbündig, zentriert, etc.
@attr bgcolor Sollen die Zellen eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.
@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.
@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen eine Lineatur auf der linken Zellenseite gegeben werden.
@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen eine Lineatur auf der rechten Zellenseite gegeben werden.
@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite eine Lineatur.
@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen festgelegt.
-->
<!ATTLIST th
	rowspan CDATA #IMPLIED
	colspan CDATA #IMPLIED
	width   CDATA #IMPLIED
	%tableAlign;
	%tableRulesAndBackground;
>


<!--Das Element <i>td</i> ist ein Blockelement, das die einzelne Tabellenzelle im normalen Tabellenkörper abbildet. In <i>td</i> können dann wiederum normale Textabsätze, Listen, Beispiele etc. enthalten sein. Auch ein eigener <i>subhead</i> ist an dieser Stelle möglich.
_img td.png
-->
<!ELEMENT td %block; >


<!--@attr rowspan Mit dem Attribut <i>rowspan</i> kann eine Zellenüberspannung innerhalb einer Tabellenreihe vorgenommen werden. 
@attr colspan Mit dem Attribut <i>colspan</i> wird eine spaltenweise Zellenüberspannung definiert. 
@attr width Über das Attribut <i>width</i> kann eine Spaltenbreite festgelegt werden.
@attr width Über das Attribut <i>width</i> kann eine Spaltenbreite festgelegt werden.
@attr align Über das Attribut <i>align</i> wird die Textausrichtung innerhalb der Zellen angegeben, z.B. rechtsbündig, zentriert, etc.
@attr bgcolor Sollen die Zellen eine Hintergrundfarbe erhalten, so kann dies im Attribut <i>bgcolor</i> angegeben werden.
@attr bottom.rule Über das Attribut <i>bottom.rule</i> kann den Tabellenzellen eine untere Lineatur gegeben werden, d.h. in allen Zellen wird die untere Seite liniert dargestellt.
@attr left.rule Über das Attribut <i>left.rule</i> kann den Tabellenzellen eine Lineatur auf der linken Zellenseite gegeben werden.
@attr right.rule Über das Attribut <i>right.rule</i> kann den Tabellenzellen eine Lineatur auf der rechten Zellenseite gegeben werden.
@attr top.rule Wird das Attribut <i>top.rule</i> gesetzt, so erhält die obere Zellenseite eine Lineatur.
@attr valign Über das Attribut <i>valign</i> wird die vertikale Textausrichtung in den Zellen festgelegt.-->
<!ATTLIST td
	rowspan CDATA #IMPLIED
	colspan CDATA #IMPLIED
	width   CDATA #IMPLIED
	%tableAlign;
	%tableRulesAndBackground;
>


